@import '../../stylesheets/base';

$radius-button-border: 2px;

.add-lead {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    > .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-small;
    }

    .content {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;

        .left {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            border-right: $width-separator-thin solid $color-separator;
            background-color: $color-foreground-alt;
            overflow-y: hidden;
        }

        .nolead {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            color: $color-text-disabled;
        }
    }
}
