@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';


.edit-category-modal {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;

        .title-children-parent {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: $spacing-large;

            .header-input {
                margin-right: $spacing-large;
            }
        }

        .textarea-content {
            flex-basis: 100%;
        }
    }

    .tabs-container {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        flex-grow: 1;
        background-color: $color-foreground;

        .tabs-header-container {
            flex-shrink: 0;
        }

        .tab {
            padding: $spacing-large;

            .keywords-words {
                display: inline-block;
                margin: $spacing-medium;
                background-color: $color-success;
                cursor: pointer;
                padding: $spacing-medium;
                width: 20%;
                text-align: center;
                font-weight: $font-weight-medium;

            }
        }
    }
}
