@import '../../../../stylesheets/base';

.login {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .non-field-errors {
        flex-basis: 100%;
        text-align: center;

        .error {
            padding: $spacing-medium $spacing-large;
            color: $color-danger;
        }
    }

    .login-form-wrapper {
        // TODO: move to dimens;
        width: 500px;
    }
}
