@import '../../../../stylesheets/base';

.login {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .login-form-wrapper {
        width: $width-login-form;
    }

    .register-link-container {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        padding: $spacing-medium;

        .register-link {
            margin: $spacing-medium;
            color: $color-accent;
            font-weight: $font-weight-medium;
        }
    }
}
