@import '../../../../stylesheets/base';

.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    width: 100%;
    height: 100vh;

    .deep-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 12vw;

        .logo {
            width: 20vw;
        }

        .heading {
            color: $color-text-on-primary;
        }
    }

    .login-box {
        display: flex;
        flex-direction: column;
        width: $width-login-form;

        .hid-link-container {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            align-items: center;
            background-color: $color-foreground;
            padding: $spacing-large;

            .hid-link {
                display: flex;
                flex-basis: 100%;
                align-items: center;
                margin-bottom: $spacing-large;
                border: $width-separator-thin solid $color-separator-alt;
                border-radius: 3px;
                padding: $spacing-small $spacing-large;
                font-size: $font-size-normal-alt;

                .logo {
                    margin-right: $spacing-small;
                    height: $font-size-normal-alt;
                }
            }

            .or-container {
                position: relative;
                width: 100%;
                vertical-align: baseline;

                hr {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: $width-separator-thin solid $color-separator;
                    width: 100%;
                }

                .or {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    background-color: $color-foreground;
                    padding: 0 $spacing-extra-small;
                    text-transform: uppercase;
                    color: $color-label;
                    font-size: $font-size-small;
                }
            }
        }

        .login-form {
            position: relative;
            background-color: $color-foreground;
            padding: $spacing-small $spacing-large $spacing-large;
            width: 100%;

            .action-buttons {
                display: flex;
                justify-content: flex-end;
            }
        }

        .register-link-container {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: center;
            margin-top: $spacing-extra-small;
            background-color: $color-foreground;
            padding: $spacing-large;

            p {
                margin: $spacing-small;
            }

            .register-link {
                text-transform: capitalize;
                color: $color-accent;
                font-size: $font-size-medium-alt;
                font-weight: $font-weight-medium;
            }
        }
    }
}
