@import '../../../../stylesheets/base';

.connector-content {
    display: flex;
    position: relative;
    height: 100%;
    overflow-y: auto;

    .table {
        :global {
            .selected {
                width: 56px;
            }

            .publishedOn {
                width: 108px;
            }
        }
    }

    .checkbox {
        justify-content: center;
    }
}
