@import '../../../../../stylesheets/base';
@import '../../../../../stylesheets/modal';

.category-editor-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-large;

        .action-btns {
            button {
                margin-left: $spacing-medium-alt;
            }
        }
    }

    .ce-details {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        flex-grow: 1;

        .project-ce-form {
            flex-shrink: 0;
        }
    }
}
