@import '../../../../stylesheets/base';


.gallery-viewer {
    width: 100%;
    height: 100%;

    .urlbar {
        display: flex;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;

        .url {
            display: flex;
            flex-grow: 1;
            align-items: center;

            :global .input {
                border: $width-separator-thin solid $color-separator;
                border-radius: 3px;
                background-color: $color-foreground;
                padding: $spacing-small $spacing-extra-small;
            }
        }

        .action-buttons {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            margin-left: $spacing-small;

            .open-link {
                @extend %transparent-button-like-link;
                color: $color-accent;
            }
        }
    }

    .doc-container {
        position: relative;
        width: 100%;
        height: 100%;

        .doc {
            border: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.urlbar-shown {
        .doc-container {
            height: calc(100% - 48px);
        }
    }
}

.error-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: $spacing-medium;
    height: 100%;
    text-align: center;

    .url {
        display: inline-block;
        text-transform: lowercase;
        color: $color-accent;
    }

    .msg {
        color: $color-danger;
    }
}
