@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

$height-header: 40px;
$height-full-page: calc(
        100vh
        - #{$height-navbar}
        -  2 * #{$spacing-large}
        - #{$height-header}
        - #{$height-tabbar}
);

.project-regions {
    display: flex;

    .list-container {
        @include shadow-small;
        flex-basis: 20%;
        min-width: 320px;
        height: $height-full-page;
        $height-header: 96px;

        .list-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-extra-small $spacing-medium;
            height: $height-header;

            .search-input {
                padding: 0;

                :global .error {
                    display: none;
                }
            }

            .header-text {
                text-transform: uppercase;
                font-size: $font-size-extra-large;
            }
        }

        .list {
            height: calc(#{$height-full-page} - #{$height-header});
            overflow: auto;

            :global .list-item {
                transition: .2s all ease-in-out;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;
                padding: 0;

                .btn {
                    display: block;
                    padding: $spacing-medium $spacing-large;
                    width: 100%;
                    text-align: left;

                    &:active {
                        transform: translateY(0);
                        box-shadow: none;
                        background-color: $color-hover;
                    }

                    &:focus {
                        background-color: $color-hover;
                    }
                }

                &:hover {
                    background-color: $color-hover;
                }

                &.active {
                    border-left: $width-separator-thick solid $color-accent;
                    background-color: $color-hover;
                }
            }
        }
    }

    .details-container {
        flex-grow: 1;
        height: $height-full-page;
    }

    .no-regions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
