@import '../../../../stylesheets/base';

.assisted-tagging {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .suggestion-select {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium-alt;

        span {
            font-size: $font-size-normal;
        }

        .select-input {
            margin-left: $spacing-small;
        }
    }

    .text {
        flex-grow: 1;

        .highlighted-excerpt {
            display: inline-block;
            border-radius: 5px;
            padding: $spacing-extra-small $spacing-small;
        }
    }
}

.assisted-actions {
    @include shadow-small;
    position: relative;
    background-color: $color-accent;
    width: 240px;
    color: $color-text-on-accent;

    &::before {
        position: absolute;
        top: -12px;
        left: 3px;
        border-width: 0 6px 12px;
        border-style: solid;
        border-color: transparent transparent $color-accent;
        width: 0;
        height: 0;
        content: '';
    }

    .info-bar {
        display: flex;
        justify-content: space-between;
        padding: $spacing-extra-small $spacing-medium-alt;
    }

    .action-buttons {
        display: flex;

        .button {
            display: flex;
            color: $color-text-on-accent;
        }
    }
}
