@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';

.project-panel {
    @include shadow-medium;
    display: flex;
    margin: $spacing-large;
    $height-full-page: calc(100vh - #{$height-navbar} -  2 * #{$spacing-large});
    $height-header: 40px;
    background-color: $color-foreground;
    height: $height-full-page;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-medium;
        width: 100%;
        height: $height-header;

        .heading {
            color: $color-primary;
            font-size: $font-size-extra-large;
        }

        :global .ion-eye {
            font-size: $font-size-large;
        }
    }

    .content {
        flex-basis: 100%;

        &.side-bar-shown {
            flex-basis: 75%;
        }
    }

    .side-bar {
        @include shadow-medium;
        display: none;
        flex-basis: 0%;
        background-color: $color-foreground;
        $height-header: 96px;

        &.show {
            display: block;
            flex-basis: 25%;
        }

        .header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-normal solid $color-separator;
            padding: $spacing-medium;
            height: $height-header;
        }

        .list {
            height: calc(100% - #{$height-header});

            .list-item {
                display: block;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;

                .link {
                    display: block;
                    padding: $spacing-medium $spacing-large;
                    width: 100%;
                    height: 100%;
                }
            }

            .active {
                border-left: $width-separator-thick solid $color-accent;
            }
        }
    }
}
