@import '../../../../stylesheets/base';

.key-figures {
    position: relative;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        justify-content: space-between;
        padding: $spacing-small;

        .action-buttons {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;

            button {
                margin-left: $spacing-small;
            }
        }
    }

    .sections {
        display: flex;

        .section {
            flex-basis: calc(100% / 4);
            flex-shrink: 0;

            .heading {
                flex-basis: 100%;
                padding: $spacing-medium;
            }

            .inputs {
                padding: $spacing-medium;
            }

            &:not(:last-child) {
                border-right: $width-separator-thin solid $color-separator;
            }
        }
    }

    .icon {
        margin-left: $spacing-small;
        font-size: $font-size-extra-large;
    }
}
