@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.project-general {
    display: flex;

    .project-general-form {
        flex-shrink: 0;
        min-width: 480px;
    }

    .members {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-left: $width-separator-thin solid $color-separator;

        .header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium-alt;

            .action-buttons {
                button {
                    margin-left: $spacing-small;
                }
            }
        }

        .table-container {
            flex-grow: 1;
            padding: 0 $spacing-medium-alt;
            overflow-y: auto;
        }
    }
}

.add-member-modal {
    display: flex;
    flex-direction: column;

    :global {
        .modal-content {
            height: 60vh;

            .modal-body {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .add-member {
        flex-grow: 1;
    }
}
