@import '../../../../stylesheets/base';

.pending-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .loading-animation {
        display: inline-block;
        margin-right: $spacing-small;
        animation: spin 1s linear infinite;
    }

    .waiting-text {
        color: $color-text-disabled;
    }
}
