@import '../../../stylesheets/base';

.number-matrix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-small;
    height: 100%;
}

.number-matrix-widget {
    display: flex;

    .table-header {
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium;
    }

    .table-cell {
        background-color: $color-foreground;
        padding: $spacing-extra-small $spacing-small;

        .number-input {
            background-color: transparent;
        }
    }
}

.row-col-element {
    display: flex;
    flex-shrink: 0;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-extra-small $spacing-medium-alt;

    .title-input {
        flex-grow: 1;
        margin-left: $spacing-small;
    }
}

.edit-matrix-modal {
    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 512px;

        .general-info-container {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;

            .title-input {
                width: auto;
            }
        }

        .modal-unit-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-bottom: $width-separator-thin solid $color-separator;
            height: 50%;

            .header {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium-alt;

                .heading {
                    text-transform: uppercase;
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;

                .row-col-element {
                    border-top: 0;
                }
            }
        }
    }
}

.draggable-item {
    z-index: 11111;
}
