@import '../../../stylesheets/base';

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $color-text-disabled;
}

.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table-header {
        @include background-color($color-foreground);
        padding: $spacing-small;
    }

    .table-cell {
        background-color: $color-foreground;
        padding: $spacing-extra-small $spacing-small;

        .number-input {
            background-color: transparent;
        }
    }
}

.sortable-unit {
    display: flex;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small 0;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: move;
        padding: 0 $spacing-medium;
    }

    .row-col-element {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        padding: $spacing-extra-small 0;

        .title-input {
            flex-grow: 1;
            margin-left: $spacing-small;
        }
    }
}

.edit-modal {
    .body {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 512px;

        .title-input-container {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;
        }

        .modal-unit-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-bottom: $width-separator-thin solid $color-separator;
            height: 50%;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium-alt;

                .heading {
                    text-transform: uppercase;
                }
            }

            .edit-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;

                .sortable-unit {
                    flex-shrink: 0;
                    border-top: 0;
                }
            }
        }
    }
}

.draggable-item {
    z-index: 11111;
}
