@import '../../../../../stylesheets/base';

.number-matrix-overview {
    display: flex;

    .table-header {
        background-color: $color-foreground;
        padding: $spacing-small $spacing-medium;
    }

    .table-header-row {
        padding: $spacing-small $spacing-medium;
        color: $color-text-on-primary;

        &.not-similar {
            background-color: $color-danger;
        }

        &.similar {
            background-color: $color-success;
        }

        &.partial-similar {
            background-color: $color-label;
        }
    }

    .table-cell {
        background-color: $color-foreground;
        padding: $spacing-extra-small $spacing-small;

        .number-input {
            background-color: transparent;
        }
    }
}

.number-matrix-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .row {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row-title {
            font-weight: $font-weight-bold;
        }

        .cols-container {
            .col {
                display: flex;
                justify-content: space-between;

                .col-title {
                    color: $color-label;
                }

                .col-value {
                    font-family: monospace;
                }
            }
        }
    }
}
