@import '../../../stylesheets/base';

.add-lead-buttons {
    @include background-color($color-foreground);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-around;

    .heading {
        flex-basis: 100%;
        margin: 0;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-medium $spacing-large;
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
    }

    .add-lead-btn {
        flex-basis: 20%;
        color: $color-text;
        font-family: inherit;
        font-size: inherit;

        span {
            font-size: $font-size-extra-large;
        }

        p {
            margin: $spacing-medium 0 0;
            font-size: $font-size-extra-small;
        }

        &:hover {
            cursor: pointer;
            color: $color-accent;
        }

        &:disabled {
            cursor: pointer;
            color: $color-text-disabled;
        }
    }
}
