@import '../../../../stylesheets/base';

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $spacing-medium;

    .filter {
        flex-basis: 30%;
        margin-right: $spacing-medium;
    }
}
