@import '../../../../../stylesheets/base';

.multiselect-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    .multiselect-list-view {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .multiselect-content {
            display: flex;
            flex-grow: 1;

            .multiselect-name {
                flex-grow: 1;
            }
        }

    }
}
