@import '../../../stylesheets/base';

.excerpt-list-view {
    height: 100%;

    .text {
        margin: 0;
        padding: $spacing-extra-small $spacing-small;
        width: 100%;
        height: 100%;
        overflow: auto;
        text-align: justify;
    }

    .image {
        border: $width-separator-thin dashed $color-separator;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}
