@import '../../../stylesheets/base';

%base {
    display: inline-block;
    padding: $spacing-extra-small $spacing-small;
}

%link {
    @extend %base;
    color: $color-text-label;
}

.action-buttons {
    display: flex;

    .action-group {
        flex-shrink: 0;

        &:not(:last-child) {
            border-right: $width-separator-thin solid $color-separator;
            padding: 0 $spacing-extra-small;
        }

        button {
            @extend %base;
        }

        .edit-link,
        .add-entry-link,
        .add-assessment-link {
            @extend %link;
        }

        .add-entry-link {
            color: $color-accent;
        }

        .add-assessment-link {
            color: $color-info;
        }
    }
}

