@import '../../../../../stylesheets/base';

.geo-list {
    padding: 0;

    .region-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .region-name {
            flex-shrink: 0;
            padding: $spacing-extra-small 0;
        }

        :global .empty {
            justify-content: flex-start;
            padding: 0 $spacing-small;
        }
    }
}
