@import '../../../stylesheets/base';

.gallery-image {
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    .image-alt {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 48px;
    }
}
