@import '../../stylesheets/base';

.leads {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    margin: -$spacing-small-alt;
    border: 0;
    background-color: transparent;
    height: calc(100vh - #{$height-navbar});

    .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small;

        .add-lead-button {
            align-self: flex-end;
            flex-shrink: 0;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
            font-size: $font-size-large;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .no-lead-found {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;

        p {
            color: $color-text-disabled;
        }
    }

    .viz-container {
        display: grid;
        padding: $spacing-small-alt;
        overflow-y: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 640px);
        grid-column-gap: $spacing-small-alt;
        grid-row-gap: $spacing-small-alt;
        grid-template-areas: 'geo-referenced-map geo-referenced-map'
            'sun-burst chord-diagram'
            'tree-map correlation-matrix'
            'force-directed-graph radial-dendrogram'
            'collapsible-tree collapsible-tree';

        .viz {
            @include background-color($color-foreground-alt);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            border: $width-separator-thin solid $color-separator-alt;
            padding-bottom: $spacing-extra-small;
        }

        .chart-container {
            padding: $spacing-extra-large-alt;
        }

        .tree-map {
            grid-area: tree-map;
        }

        .sun-burst {
            grid-area: sun-burst;
        }

        .chord-diagram {
            grid-area: chord-diagram;
        }

        .correlation-matrix {
            grid-area: correlation-matrix;
        }

        .force-directed-graph {
            grid-area: force-directed-graph;
        }

        .collapsible-tree {
            grid-area: collapsible-tree;
        }

        .radial-dendrogram {
            grid-area: radial-dendrogram;
        }

        .geo-referenced-map {
            grid-area: geo-referenced-map;
        }
    }

    .footer {
        @include background-color($color-foreground);
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium-alt;

        .link {
            @include button-like-link($color-accent);
        }
    }
}

.chart-container {
    padding: $spacing-extra-large-alt;
}
