@import 'colors';
@import 'dimens';
@import 'utils';

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Oxygen Mono', monospace;
$font-family-icons: 'Ionicons';

body {
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-sans-serif;
    font-size: $font-size-default;
    font-weight: $font-weight-default;

    * {
        box-sizing: border-box;

        ::-webkit-scrollbar-track {
            background-color: $color-background-scrollbar;
        }

        ::-webkit-scrollbar {
            background-color: $color-background-scrollbar;
            width: $spacing-small;
            height: $spacing-small;
        }

        ::-webkit-scrollbar-thumb {
            background-color: $color-foreground-scrollbar;
        }
    }

    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: uppercase;
        font-weight: $font-weight-light;
    }

    :global {
        .navbar {
            position: relative;
            z-index: 1;
            height: $height-navbar;
        }

        .deep-main-content {
            position: relative;
            background-color: $color-background;
            padding: $spacing-small-alt;
            height: calc(100vh - #{$height-navbar});
            overflow-y: auto;
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: 100vh;
        }
    }
}

%main-content {
    border: $width-separator-thin solid $color-separator;
    height: 100%;
}
