@import 'colors';
@import 'dimens';
@import 'utils';

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Oxygen Mono', monospace;
$font-family-icons: 'Ionicons';

* {
    box-sizing: border-box;

    ::-webkit-scrollbar-track {
        background-color: $color-background-scrollbar;
    }

    ::-webkit-scrollbar {
        background-color: $color-background-scrollbar;
        width: $spacing-small;
        height: $spacing-small;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color-foreground-scrollbar;
    }
}

body {
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-sans-serif;
    font-size: $font-size-default;
    font-weight: $font-weight-default;


    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: uppercase;
        font-weight: $font-weight-light;
    }

    :global {
        .navbar {
            position: relative;
            z-index: 1;
            height: $height-navbar;
        }

        .deep-main-content {
            position: relative;
            background-color: $color-background;
            padding: $spacing-small-alt;
            height: calc(100vh - #{$height-navbar});
            perspective: 1000px;
            overflow-y: auto;
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: 100vh;
        }
    }
}

:global {
    .modal-shown {
        #root {
            filter: brightness(50%);
            pointer-events: none;
            user-select: none;
        }
    }
}

%main-content {
    animation: slide-in .3s ease forwards;
    border: $width-separator-thin solid $color-separator;
    height: 100%;
    transform-origin: top;
}

%empty-text {
    color: $color-empty-text;
}

@keyframes slide-in {
    from {
        transform: rotateX(1deg) translate3d(0, 10px, -100px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

%button-like-link {
    @include shadow-medium;
    border-radius: 3px;
    background-color: $color-foreground;
    padding: $spacing-small $spacing-medium;
    text-transform: uppercase;
    color: $color-label;
    font-family: inherit;
    font-size: $font-size-medium-alt;
    font-weight: $font-weight-normal;

    &:active {
        @include shadow-small;
        transform: translateY(1px);
    }
}
