$color-background: #d9d9d9;
$color-background-alt: #efefef;

$color-foreground: #fff;
$color-foreground-alt: #f7f7f7;

$color-background-hover: #cfcfcf;
$color-background-selected: #ddd;

$color-background-header: $color-foreground-alt;
$color-background-header-alt: $color-background-alt;
$color-background-header-hover: $color-background-hover;

$color-background-row: #e7e7e7;
$color-background-row-alt: #f0f0f0;

$color-background-disabled: rgba(0, 0, 0, .06);

$color-text: rgba(0, 0, 0, .8);
$color-text-disabled: rgba(0, 0, 0, .3);
$color-label: rgba(0, 0, 0, .5);
$color-text-tab: rgba(0, 0, 0, .3);

$color-empty-text: rgba(0, 0, 0, .3);

$color-hover: rgba(0, 0, 0, .02);

$color-primary: #234;
$color-text-on-primary: rgba(255, 255, 255, .8);

$color-accent: #3a8;
$color-text-on-accent: rgba(255, 255, 255, .9);

$color-text-active-tab: $color-primary;

$color-navbar: $color-primary;
$color-text-on-navbar: $color-text-on-primary;

$color-danger: #fc575e;
$color-text-on-danger: rgba(255, 255, 255, .9);
$color-success: #4c5;
$color-text-on-success: rgba(255, 255, 255, .9);
$color-warning: #e83;
$color-text-on-warning: rgba(255, 255, 255, .9);
$color-info: #4bf;

$color-negative: $color-danger;
$color-positive: $color-success;

$color-separator: rgba(0, 0, 0, .1);
$color-separator-alt: rgba(0, 0, 0, .2);
$color-separator-hover: rgba(0, 0, 0, .3);
$color-separator-light: rgba(255, 255, 255, .1);

$color-shadow-normal: rgba(0, 0, 0, .5);
$color-shadow-light: rgba(0, 0, 0, .3);
$color-shadow-dark: rgba(0, 0, 0, .8);

$color-background-button-default: $color-foreground;
$color-background-button-hover: $color-foreground-alt;

$color-background-scrollbar: #eee;
$color-foreground-scrollbar: #bbb;

$color-background-overlay: rgba(255, 255, 255, .77);

$color-background-modal: rgba(0, 0, 0, .77);
