$theme-type-light: 'light';
$theme-type-dark: 'dark';

$theme-type: $theme-type-light;

@function get-color($color-light, $color-dark) {
    @if ($theme-type == $theme-type-dark) {
        @return $color-dark;
    }

    @return $color-light;
}

$color-text-on-light: rgba(0, 0, 0, .8);
$color-text-on-dark: rgba(255, 255, 255, .8);
$color-text: get-color($color-text-on-light, $color-text-on-dark);

$color-text-placeholder-on-light: rgba(0, 0, 0, .4);
$color-text-placeholder-on-dark: rgba(255, 255, 255, .3);
$color-text-placeholder: get-color($color-text-placeholder-on-light, $color-text-placeholder-on-dark);

$color-text-disabled-on-light: rgba(0, 0, 0, .3);
$color-text-disabled-on-dark: rgba(255, 255, 255, .2);
$color-text-disabled: get-color($color-text-disabled-on-light, $color-text-disabled-on-dark);

$color-text-label-on-light: rgba(0, 0, 0, .5);
$color-text-label-on-dark: rgba(255, 255, 255, .4);
$color-text-label: get-color($color-text-label-on-light, $color-text-label-on-dark);

$color-primary-light: #1676d3;
$color-primary-dark: #4ce49c;
$color-primary: get-color($color-primary-light, $color-primary-dark);

$color-accent-light: #008975;
$color-accent-dark: #c34176;
$color-accent: get-color($color-accent-light, $color-accent-dark);

$color-info-light: #41a1f0;
$color-info-dark: #41a1f0;
$color-info: get-color($color-info-light, $color-info-dark);

$color-success-light: #41cf76;
$color-success-dark: #41cf76;
$color-success: get-color($color-success-light, $color-success-dark);

$color-warning-light: #ef8c00;
$color-warning-dark: #e0b652;
$color-warning: get-color($color-warning-light, $color-warning-dark);

$color-danger-light: #f44336;
$color-danger-dark: #d3575e;
$color-danger: get-color($color-danger-light, $color-danger-dark);

$color-background-light: #e0e0e0;
$color-background-dark: #000;
$color-background: get-color($color-background-light, $color-background-dark);

$color-background-light-alt: #eee;
$color-background-dark-alt: #313131;
$color-background-alt: get-color($color-background-light-alt, $color-background-dark-alt);

$color-foreground-light: #fff;
$color-foreground-dark: #414141;
$color-foreground: get-color($color-foreground-light, $color-foreground-dark);

$color-foreground-light-alt: #f5f5f5;
$color-foreground-dark-alt: #484848;
$color-foreground-alt: get-color($color-foreground-light-alt, $color-foreground-dark-alt);

$color-background-header-light: #f0f5f5;
$color-background-header-dark: #212121;
$color-background-header: get-color($color-background-header-light, $color-background-header-dark);

$color-background-header-alt-light: #90caf9;
$color-background-header-alt-dark: #263844;
$color-background-header-alt: get-color($color-background-header-alt-light, $color-background-header-alt-dark);

$color-background-hover-on-light: rgba(0, 0, 0, .03);
$color-background-hover-on-dark: rgba(255, 255, 255, .03);
$color-background-hover: get-color($color-background-hover-on-light, $color-background-hover-on-dark);

$color-background-disabled-light: rgba(0, 0, 0, .05);
$color-background-disabled-dark: rgba(255, 255, 255, .05);
$color-background-disabled: get-color($color-background-disabled-light, $color-background-disabled-dark);

$color-background-hover-light: rgba(0, 0, 0, .05);
$color-background-hover-dark: rgba(255, 255, 255, .05);
$color-background-hover: get-color($color-background-hover-light, $color-background-hover-dark);

$color-background-selected-light: rgba(0, 0, 0, .07);
$color-background-selected-dark: rgba(255, 255, 255, .07);
$color-background-selected: get-color($color-background-selected-light, $color-background-selected-dark);

$color-background-row-light: #f5f5f5;
$color-background-row-dark: #414141;
$color-background-row: get-color($color-background-row-light, $color-background-row-dark);

$color-background-row-light-alt: #eee;
$color-background-row-dark-alt: #484848;
$color-background-row-alt: get-color($color-background-row-light-alt, $color-background-row-dark-alt);

$color-navbar-light: #fff;
$color-navbar-dark: #414141;
$color-navbar: get-color($color-navbar-light, $color-navbar-dark);

$color-text-active-tab: $color-primary;

$color-negative: $color-danger;
$color-positive: $color-success;

$color-separator-on-light: rgba(0, 0, 0, .1);
$color-separator-on-dark: rgba(255, 255, 255, .08);
$color-separator: get-color($color-separator-on-light, $color-separator-on-dark);

$color-separator-on-light-alt: rgba(0, 0, 0, .2);
$color-separator-on-dark-alt: rgba(255, 255, 255, .17);
$color-separator-alt: get-color($color-separator-on-light-alt, $color-separator-on-dark-alt);

$color-separator-hover-on-light: rgba(0, 0, 0, .3);
$color-separator-hover-on-dark: rgba(255, 255, 255, .3);
$color-separator-hover: get-color($color-separator-hover-on-light, $color-separator-hover-on-dark);

$color-shadow-medium: rgba(0, 0, 0, .5);
$color-shadow-light: rgba(0, 0, 0, .3);
$color-shadow-dark: rgba(0, 0, 0, .8);

$color-background-button-default: $color-foreground;

$color-background-scrollbar-light: #eee;
$color-background-scrollbar-dark: #616161;
$color-background-scrollbar: get-color($color-background-scrollbar-light, $color-background-scrollbar-dark);

$color-foreground-scrollbar-light: #bbb;
$color-foreground-scrollbar-dark: #868686;
$color-foreground-scrollbar: get-color($color-foreground-scrollbar-light, $color-foreground-scrollbar-dark);

$color-background-overlay-light: rgba(255, 255, 255, .77);
$color-background-overlay-dark: rgba(0, 0, 0, .7);
$color-background-overlay: get-color($color-background-overlay-light, $color-background-overlay-dark);

$color-background-modal-light: rgba(0, 0, 0, .77);
$color-background-modal-dark: rgba(0, 0, 0, .77);
$color-background-modal: get-color($color-background-modal-light, $color-background-modal-dark);
