$height-grid-header: 18px;

%grid-item {
    border: $width-separator-thin solid $color-separator;

    .header {
        display: flex;
        align-items: center;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        height: $height-grid-header;

        .heading {
            padding: 0 $spacing-medium;
            font-weight: $font-weight-bold;
        }

        .action-buttons {
            @include transition-medium;
            display: flex;
            opacity: 0;
            margin: 0 $spacing-extra-small;

            button, span {
                padding: 0 $spacing-extra-small-alt;
            }

            .icon {
                color: $color-info;
                cursor: pointer;
            }
        }
    }

    &:hover {
        .header {
            .action-buttons {
                opacity: 1;
            }
        }
    }

    .content {
        padding: $spacing-medium;
        height: calc(100% - #{$height-grid-header});
    }
}
