$height-grid-item-header: 24px;
$color-grid-item-border: $color-separator;

%grid-item {
    padding: $spacing-extra-small;

    .header {
        display: flex;
        align-items: center;
        border: $width-separator-thin solid $color-grid-item-border;
        border-bottom: 0;
        height: $height-grid-item-header;

        .heading {
            flex-grow: 1;
            cursor: grab;
            padding: 0 $spacing-small;
            color: $color-primary;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }

        .action-buttons {
            @include transition-medium;
            display: flex;
            flex-shrink: 0;
            opacity: 0;
            margin: 0 $spacing-extra-small;

            button,
            span {
                padding: 0 $spacing-extra-small-alt;
            }

            .icon {
                cursor: pointer;
                color: $color-info;
            }
        }
    }

    &:hover {
        .header {
            .action-buttons {
                opacity: 1;
            }
        }
    }

    .content {
        border: $width-separator-thin solid $color-grid-item-border;
        height: calc(100% - #{$height-grid-item-header});
    }
}
