@import './base';

.tabs-container {
    display: flex;
    flex-direction: column;

    .tabs-header-container {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        color: $color-text-active-tab;

        .tab-header {
            display: flex;
            align-items: center;
            outline: none;
            border: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-medium $spacing-large;
            text-transform: uppercase;
            color: $color-text-label;
            font-family: inherit;
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;

            &.active {
                border-bottom-color: $color-accent;
                color: $color-accent;
            }
        }

        .empty-tab {
            flex-grow: 1;
            align-self: stretch;
            border-bottom: $width-separator-medium solid $color-separator;
        }

        :global .tab-link-active {
            border-bottom-color: $color-accent;
            color: $color-accent;
        }
    }

    .tabs-content {
        flex-grow: 1;
    }
}

.tabs-container-vertical {
    display: flex;
    height: 100%;
    $width-tabbar: 293px;

    .tabs-header-container-vertical {
        flex-basis: $width-tabbar;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: $width-separator-thin solid $color-separator;

        .tab-header-vertical {
            display: flex;
            align-items: center;
            border-bottom: $width-separator-thin solid $color-separator;
            border-left: 4px solid transparent;
            cursor: pointer;
            padding: $spacing-large;
            width: 100%;
            text-transform: uppercase;
            font-weight: $font-weight-medium;
        }

        :global .tab-link-active {
            border-left: 4px solid $color-accent;
            background-color: lighten($color-accent, 40%);
            color: $color-text;
            font-weight: $font-weight-medium;
        }
    }

    .tabs-content-vertical {
        flex-basis: calc(100% - #{$width-tabbar});
        padding: $spacing-small;
    }
}
