{
    "extends": [
        "airbnb",
        "plugin:css-modules/recommended"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "globals": {
        "chrome": true
    },
    "plugins": [
        "react",
        "css-modules"
    ],
    "rules": {
        "strict": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-unused-vars": [1, { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "no-console": 0,

        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"] }],
        "react/prop-types": [1, { "ignore": [], "customValidators": [], "skipUndeclared": false }],
        "react/forbid-prop-types": [1],

        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to" ]
        }],

        "import/extensions": ["off", "never"],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],

        "css-modules/no-unused-class": [1, { "camelCase": true }],
        "css-modules/no-undef-class": [1, { "camelCase": true }],

        "prefer-destructuring": "warn",
        "function-paren-newline": ["warn", "consistent"],
        "object-curly-newline": [2, {
            "ObjectExpression": { "consistent": true },
            "ObjectPattern": { "consistent": true },
            "ImportDeclaration": { "consistent": true },
            "ExportDeclaration": { "consistent": true }
        }],

        "jsx-a11y/label-has-for": "warn",

        "react/no-unused-state": "warn",
        "react/default-props-match-prop-types": ["warn", {
                "allowRequiredDefaults": true
            }],
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "allowImportExportEverywhere": true
    }
}
