@import '../../../stylesheets/base';

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;

    .selected-option {
        display: flex;
        padding: 0 $spacing-small;

        .marker {
            align-self: flex-start;
            flex-shrink: 0;
            padding-right: $spacing-extra-small-alt;
            color: $color-text-label;
        }

        .label {
            flex-grow: 1;
        }
    }
}
