@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';

.tabs-container {
    border-right: $width-separator-thin solid $color-separator;
    height: 100%;

    .tabs-header-container {
        background-color: $color-foreground;
    }

    .tabs-content {
        background-color: $color-foreground-alt;
        height: calc(100% - 39px);

        .tab {
            height: 100%;
        }
    }
}

.highlights-container {
    height: 100%;
    overflow-y: auto;
}
