@import '../../../stylesheets/base';


.google-picker-btn {
    flex-basis: 20%;
    color: $color-text;
    font-family: inherit;
    font-size: inherit;

    span {
        font-size: $font-size-extra-large;
    }

    p {
        margin: $spacing-medium 0 0;
        font-size: $font-size-extra-small;
    }

    &:hover {
        cursor: pointer;
        color: $color-accent;
    }
}
