@import '../../../stylesheets/base';

.list {
    width: 100%;
    height: 100%;
    overflow: auto;

    .row {
        padding: $spacing-small;

        &:not(:last-child) {
            border-bottom: $width-separator-thin solid $color-separator;
        }

        .title {
            margin-bottom: $spacing-small;
            color: $color-accent;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }

        .cell {
            display: flex;

            .marker {
                flex-shrink: 0;
                align-self: flex-start;
                padding-right: $spacing-small;
                color: $color-label;
            }

            .label {
                flex-grow: 1;
            }
        }
    }
}
