@import '../../../../../stylesheets/base';

.number-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.number-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
