@import '../../../stylesheets/base';

$width-modal-extra-small: 320px !default;

.overview,
.list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $color-text-disabled;
}

.edit-overview-modal {
    width: $width-modal-extra-small;
}
