@import '../../stylesheets/base';
@import '../../stylesheets/modal';


.add-gallery-file-modal {
    width: 960px;

    .modal-header {
        border-bottom: none;
    }

    .search-input {
        width: 240px;
    }

    .modal-body {
        position: relative;
        background-color: $color-background-row;
        padding: 0;
    }
}

