@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.leads {
    display: flex;
    flex-direction: column;
    padding: $spacing-large;
    height: calc(100vh - #{$height-navbar});

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing-medium;
    }

    .filters {
        background-color: $color-foreground;
        padding: $spacing-large;
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;

        .leads-table {
            :global .header {
                position: sticky;
                top: 0;
                background-color: $color-background-header;
                text-align: left;
            }

            :global .title {
                width: 20%;
            }
        }
    }

    .footer {
        background-color: $color-accent;
        padding: $spacing-large;
        color: $color-text-on-accent;
    }
}
