@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.leads {
    display: flex;
    flex-direction: column;
    padding: $spacing-medium-alt $spacing-medium-alt 0;
    height: calc(100vh - #{$height-navbar} - #{$spacing-medium * 2});

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        // padding: $spacing-medium 0;

        h1 {
            font-size: $font-size-large;
        }

        .add-lead-button {
            padding: $spacing-small $spacing-medium;
            font-size: $font-size-medium;
        }
    }

    .filters {
        flex-shrink: 0;
        padding: $spacing-large 0;
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;

        .leads-table {
            :global .header {
                position: sticky;
                top: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                background-color: $color-foreground;
                padding: $spacing-medium $spacing-medium-alt;
                text-align: left;
            }

            :global .title {
                width: 20%;
            }
        }
    }
}

:global .actions {
    $width-action-button: 32px;

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 0;
        width: $width-action-button;
        height: $width-action-button;

        &:hover {
            background-color: $color-background-hover;
        }

        &:active {
            transform: none;
        }
    }
}
