@import '../../../stylesheets/base';

.lead-preview {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: auto;

    pre {
        padding: $spacing-large;
        white-space: pre-wrap;
    }

    .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }
}
