@import '../../../stylesheets/base';

.lead-preview {
    display: flex;
    overflow: auto;

    pre {
        padding: $spacing-large;
        width: 100%;
        height: 100%;
        white-space: pre-wrap;
    }
}
