@import '../../../stylesheets/base';

.lead-preview {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: auto;

    pre {
        margin: 0;
        background-color: $color-foreground-alt;
        padding: $spacing-large;
        text-align: justify;
        white-space: pre-wrap;
        font-family: $font-family-sans-serif;
    }

    .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }
}
