@import '../../../../stylesheets/base';

.country-population {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: $spacing-medium-alt;

    .action-buttons {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;

        button {
            margin-right: $spacing-medium-alt;
        }
    }

    .population-container {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;

        .population,
        .source {
            flex-basis: 40%;
            margin-right: $spacing-super-large;
        }
    }
}

.khatri-noob {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: $color-text-disabled;
    font-size: $font-size-large;

    .under-construction {
        margin-top: $spacing-small;
        font-size: $font-size-super-large;
        font-weight: $font-weight-bold;
    }
}
