@import '../../../../../stylesheets/base';

.date-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;
    height: 100%;

    .date-input {
        width: 100%;
    }
}
