@import '../../../../stylesheets/base';

.lead-information {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;

    h4 {
        flex-basis: 100%;
        margin: $spacing-small;
        font-weight: $font-weight-medium;
    }

    .lead-title,
    .source,
    .date-published {
        flex-basis: 28%;
        padding: 0 $spacing-small;
    }

    .apply-btn,
    .clear-btn {
        flex-basis: 6%;
        margin: $spacing-small;
        background-color: $color-background-disabled;
        padding: 0 $spacing-small;
        color: $color-text-disabled;
    }
}
