@import '../../../../stylesheets/base';

.projects-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        padding: $spacing-small;

        .search-input {
            flex-basis: 20%;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;
    }
}
