@import '../../../../stylesheets/base';

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >.header {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        padding: $spacing-medium $spacing-large;

        .search-input {
            flex-basis: 20%;
        }

        .pusher {
            flex-grow: 1;
        }

        .add-button {
            // margin-right: $spacing-medium-alt;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        padding: 0 $spacing-large;
        overflow-y: auto;

        :global .header {
            position: sticky;
            top: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;
            text-align: left;
            user-select: none;

            &:not(.actions) {
                cursor: pointer;

                &:hover {
                    background-color: $color-background-hover;
                }
            }
        }
    }
}

:global .forward-btn {
    padding: $spacing-small;

    .ion-forward {
        margin: 0 $spacing-small;

    }

    &:hover {
        background-color: $color-background-hover;
    }

}

:global .delete-btn {
    padding: $spacing-small;

    .ion-android-delete {
        margin: 0 $spacing-small;
        color: $color-danger;

    }

    &:hover {
        background-color: $color-background-hover;
    }

}
