$height-header: 48px;

.list {
    display: flex;
    flex-direction: column;
    background-color: $color-background-alt;
    height: 100%;

    .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator;
        padding: 0 $spacing-medium;
        height: $height-header;

        .action-buttons {
            .primary-link-button {
                @extend %button-like-link;
                @include background-color($color-primary);
            }

            .save-button {
                margin-left: $spacing-medium;
            }
        }
    }

    .no-entry-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .entry-list {
        position: relative;
        height: calc(100% - #{$height-header});
        overflow: auto;

        .entry {
            @include background-color($color-background-row);
            display: inline-block;
            position: relative;

            .apply-buttons {
                display: flex;

                .apply-button {
                    margin: 0;
                    padding: 0 $spacing-extra-small;
                }
            }

            .action-buttons {
                @include transition-medium;
                position: absolute;
                right: 0;
                bottom: 0;
                opacity: 0;
                padding: $spacing-extra-small;

                >* {
                    margin: $spacing-extra-small;
                }

                .edit-link {
                    @extend %button-like-link;
                    @include background-color($color-warning);
                }
            }

            &:hover {
                .action-buttons {
                    opacity: 1;
                }
            }

            :global {
                .grid-item {
                    @extend %grid-item;

                    .header {
                        border: 0;
                        // background-color: transparent;
                    }

                    .content {
                        border: 0;
                        // background-color: transparent;
                    }
                }
            }

            &:nth-child(even) {
                background-color: $color-background-row-alt;
            }
        }
    }
}
