$height-header: 48px;

.list {
    display: flex;
    flex-direction: column;
    background-color: $color-background-alt;
    height: 100%;

    .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator;
        padding: 0 $spacing-medium;
        height: $height-header;

        .action-buttons {
            .primary-link-button {
                @extend %button-like-link;
                @include background-color($color-primary);
            }

            .save-button {
                margin-left: $spacing-medium;
            }
        }
    }

    .no-entry-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .entry-list {
        position: relative;
        height: calc(100% - #{$height-header});
        overflow: auto;
        line-height: 0;

        .entry {
            @include background-color($color-background-row);
            display: inline-block;
            position: relative;
            border-bottom: $width-separator-thin solid $color-separator-alt;
            line-height: initial;

            .action-buttons {
                position: absolute;
                right: 0;
                bottom: 0;
                transition: .2s opacity ease-in-out;
                opacity: 0;
                padding: $spacing-extra-small;

                >* {
                    margin: $spacing-extra-small;
                }

                .edit-link {
                    @extend %button-like-link;
                    @include background-color($color-warning);
                }
            }

            &:hover {
                .action-buttons,
                .apply-buttons {
                    opacity: 1;
                }
            }

            :global {
                .grid-item {
                    @extend %grid-item;

                    .header {
                        border: 0;

                        .apply-buttons {
                            @include transition-medium;
                            display: flex;
                            opacity: 0;

                            button {
                                margin: 0 $spacing-extra-small-alt;
                                padding: 0;
                            }
                        }

                    }

                    .content {
                        border: 0;
                    }

                    &:hover {
                        .header {
                            .apply-buttons {
                                opacity: 1;
                            }
                        } 
                    }
                }
            }
        }
    }
}
