@import '../../stylesheets/base';

.form-container {
    .edit-admin-level-form {
        .admin-level-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text-input {
                flex-basis: 100%;
                background-color: transparent;
            }

            .select-input {
                margin-bottom: $spacing-small;
            }

            .geo-file {
                margin: auto;
                width: auto;

                :global {
                    label {
                        @extend %button-like-link;
                        @include background-color($color-primary);
                    }
                }

                .load {
                    padding: $spacing-small;
                }

                .show {
                    padding: $spacing-small;
                }

                i {
                    margin-right: $spacing-small;
                }

                p {
                    visibility: hidden;
                }

                a {
                    color: inherit;
                }
            }
        }

    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        .save-btn {
            margin-left: $spacing-medium-alt;
        }
    }
}

:global #select-input-inside-modal {
    z-index: 1001;
}
