@import '../../../../../stylesheets/base';

.number-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;

    .number-input {
        width: 100%;
    }
}
