@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.project-general {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .project-general-form {
        flex-shrink: 0;
    }
}
