@import '../../../../stylesheets/base';

.matrix-cell {
    flex-shrink: 0;
    margin: $spacing-extra-small;
    background-color: $color-background;
    padding: $spacing-small $spacing-medium;
    color: $color-text;
    user-select: none;

    &.active {
        background-color: $color-accent;
        color: $color-text-on-accent;
    }
}

.matrix-row {
    display: flex;
    align-items: center;
    border: $width-separator-thin solid $color-separator;

    .title {
        flex-basis: $width-matrix-1d-title;
        flex-shrink: 0;
        padding: $spacing-medium;
    }

    .cells {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .action-buttons {
        flex-shrink: 0;
    }
}

.tagging-matrix-1d,
.framework-matrix-1d {
    width: 100%;
}

.tagging-matrix-1d {
    .matrix-row {
        border: 0;
        border-bottom: $width-separator-thin solid $color-separator;

        .matrix-cell {
            outline: 0;
            border: 0;
            font-family: inherit;
            font-size: inherit;
        }
    }
}

%modal {
    width: 480px;

    :global .modal-body {
        height: 400px;
    }
}

.edit-cell-modal {
    @extend %modal;

    .edit-cell-body {
        padding: 0;

        .edit-cell {
            border-top: 0;
        }
    }
}

.edit-row-modal {
    @extend %modal;
    width: 768px;

    .edit-row-body {
        display: flex;
        padding: 0;
        width: 100%;

        .row-list {
            border-left: $width-separator-thin solid $color-separator;

            .edit-row {
                border-top: 0;
            }
        }

        :global .sketch-picker {
            margin: $spacing-medium-alt;
        }
    }

    :global .modal-content {
        width: 100%;
    }
}

.edit-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;

    .title-input {
        flex-grow: 1;
        margin-left: $spacing-extra-small;
    }

    .delete-button {
        flex-shrink: 0;
    }
}

.edit-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    border-left: $width-separator-thick solid transparent;
    background-color: $color-foreground;

    .color-box-container {
        display: flex;
        flex-basis: 48px;
        flex-direction: column;
        flex-shrink: 0;
        padding: $spacing-extra-small;
        padding-bottom: 0;
        width: 48px;
        height: 40px;

        .color-label {
            flex-shrink: 0;
            text-transform: uppercase;
            color: $color-label;
            font-size: $font-size-extra-small;
        }

        .color-box {
            flex-grow: 1;
            margin-right: $spacing-small;
            outline: 0;
            border: 0;
            cursor: pointer;
        }
    }

    .title-input {
        flex-grow: 1;
        margin-left: $spacing-extra-small;
    }

    .delete-button {
        flex-shrink: 0;
    }

    &.active {
        border-left: $width-separator-thick solid $color-accent;
    }
}

:global .drag-handle {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    cursor: row-resize;
    padding: $spacing-medium $spacing-large;
    font-size: $font-size-large;
}

.draggable-item {
    z-index: 11111;
}
