@import '../../../../stylesheets/base';

.document-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .file-list-view {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .file-list-item {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;

            .title {
                flex-grow: 1;
            }

            .icon {
                flex-shrink: 0;
            }
        }
    }

    .bottom-bar {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-medium-alt $spacing-small;

        .button {
            margin-left: $spacing-small;
        }
    }
}
