@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';

$width-entry-select-input: 400px;
$width-left-panel-min: 436px;
$width-right-panel-min: 654px;

.ary {
    display: flex;
    height: 100%;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        width: 30%;
        min-width: $width-left-panel-min;
        height: 100%;

        .tabs-container {
            width: 100%;
            height: 100%;

            .tabs-header-container {
                background-color: $color-foreground;
            }

            .tabs-content {
                height: calc(100% - 39px);

                .tab {
                    height: 100%;
                }
            }
        }

        .highlights-container {
            background-color: $color-foreground-alt;
            height: 100%;
            overflow-y: auto;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: $width-right-panel-min;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
