@import '../../stylesheets/base';

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}
