@import '../../../stylesheets/base';

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: projects;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
        height: $height-navbar;

        >* {
            flex-shrink: 0;
        }

        .pusher {
            flex-grow: 1;
        }

        .search-input {
            margin: 0 $spacing-medium;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        background-color: $color-background-row;
        overflow-y: auto;

        .link {
            padding: 0 $spacing-medium;
        }
    }
}
