@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.project-category-editor {
    display: flex;
    flex-grow: 1;

    .list-container {
        @include shadow-small;
        display: flex;
        flex-basis: 16%;
        flex-direction: column;
        min-width: 320px;

        .list-header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-large;

            .search-input {
                flex-grow: 1;
                padding: 0 $spacing-medium-alt 0 0;

                :global .error {
                    display: none;
                }
            }

            .add-btn {
                flex-shrink: 0;
            }
        }

        .list {
            flex-grow: 1;
            overflow-y: auto;

            .ce-list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .check {
                    color: $color-success;
                }

            }

        }
    }

    .details-container {
        display: flex;
        position: relative;
        flex-grow: 1;
    }

    .no-category-editor {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }
}
