@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

$width-ce-list: 240px;

.project-category-editor {
    display: flex;
    flex-grow: 1;

    .ce-list {
        display: flex;
        flex-basis: $width-ce-list;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator-alt;

        .header {
            @include background-color($color-background-header);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;

            .heading {
                flex-grow: 1;
            }

            .add-ce-button {
                flex-shrink: 0;
            }

            .search-ce-input {
                flex-basis: 100%;
            }
        }

        .content {
            flex-grow: 1;
            overflow-y: auto;

            .ce-list-item {
                display: flex;
                justify-content: space-between;

                .check {
                    color: $color-success;
                }
            }
        }
    }

    .details-container {
        position: relative;
        flex-grow: 1;
    }

    .empty {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }
}
