@import '../../../stylesheets/base';

.country-panel {
    display: flex;
    padding: $spacing-medium-alt;
    $width-list: 320px;
    height: calc(100vh - #{$height-navbar});

    .sidebar {
        display: flex;
        position: relative;
        flex-basis: 16%;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        min-width: 320px;

        .header {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-normal solid $color-separator;
            padding: $spacing-medium;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .country-list {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .country-detail {
        @include shadow-medium;
        flex-grow: 1;
        background-color: darken($color-foreground, 1%);
        height: 100%;
    }

    .country-detail-alt {
        @include shadow-medium;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        background-color: $color-foreground;
        padding: $spacing-medium-alt;
        color: $color-label;
        font-size: $font-size-extra-large;
    }
}
