@import '../../../stylesheets/base';

.country-panel {
    display: flex;
    $height-full-page: calc(100vh - #{$height-navbar});

    .country-list {
        @include shadow-medium;
        flex-basis: 25%;
        $height-header: 124px;
        background-color: $color-foreground;

        .list-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-medium $spacing-large;
            height: $height-header;

            .header-text {
                text-transform: uppercase;
                font-size: 1.6em;
            }

            .asd {
                flex-basis: 100%;
            }
        }

        .list {
            height: calc(#{$height-full-page} - #{$height-header});
            overflow: auto;

            .list-item {
                display: block;
                border-bottom: $width-separator-thin solid $color-separator;
                padding: $spacing-medium $spacing-large;
            }

            .active {
                background-color: $color-accent;
            }
        }
    }

    .country-details {
        @include shadow-medium;
        flex-basis: 75%;
        background-color: darken($color-foreground, 1%);
        height: $height-full-page;
    }
}
