@import '../../../stylesheets/base';

.country-details-alt {
    @include shadow-medium;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: $color-foreground;
    padding: $spacing-medium-alt;

    h1 {
        margin-bottom: $spacing-large;
        text-transform: none;
    }
}

.country-panel {
    display: flex;
    padding: $spacing-medium-alt;
    $width-list: 320px;
    height: calc(100vh - #{$height-navbar});

    .country-list {
        @include shadow-medium;
        display: flex;
        flex-basis: 16%;
        flex-direction: column;
        flex-shrink: 0;
        background-color: $color-foreground;
        min-width: 320px;
        height: 100%;

        .list-header {
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-medium $spacing-medium-alt;

            .header-button-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .search-input {
                padding: $spacing-small 0;

                :global .error {
                    display: none;
                }
            }

            .header-text {
                text-transform: uppercase;
                font-size: 1.6em;
            }
        }

        .list {
            flex-grow: 1;
            overflow-y: auto;

            :global .list-item {
                transition: .2s all ease-in-out;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;
                padding: 0;

                .link {
                    display: block;
                    padding: $spacing-medium $spacing-large;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: $color-hover;
                }

                &.active {
                    border-left: $width-separator-thick solid $color-accent;
                    background-color: $color-hover;
                }
            }
        }
    }

    .country-details {
        @include shadow-medium;
        flex-grow: 1;
        background-color: darken($color-foreground, 1%);
        height: 100%;

        .country-detail {
            height: 100%;
        }
    }
}
