@import '../../../../../stylesheets/base';
@import '../../../../../stylesheets/modal';

$af-detail-form-width: 240px;
$height-header: 39px;

.analysis-framework-detail {
    height: 100%;

    .header {
        @include background-color($color-foreground);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: 0 $spacing-small;
        height: $height-header;

        .action-buttons {
            button {
                margin-left: $spacing-small;
            }
        }
    }

    .content {
        height: calc(100% - #{$height-header});

        .af-detail-form {
            display: block;
            width: $af-detail-form-width;
        }
    }
}
