@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';
@import '../../../stylesheets/modal';

$height-header: 42px;

.country-detail {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .header {
        @include background-color($color-background-header);
        flex-shrink: 0;
        padding: 0;

        .top-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small;
            padding-bottom: 0;

            .heading {
                flex-shrink: 0;
            }

            .right-container {
                display: flex;

                button {
                    margin-left: $spacing-small;
                }
            }
        }

        .bottom-container {
            background-color: transparent;
        }
    }

    .loading-animation {
        z-index: 111;
        background-color: $color-background-overlay-opaque;
    }

    .details-no-edit {
        position: relative;
        flex-grow: 1;
        border-top: $width-separator-thin solid $color-separator;
        width: 100%;
        height: calc(100% - #{$height-header});

        .region-detail-box {
            bottom: calc(#{$spacing-medium} + 24px);
        }

        .map-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}
