@import '../../stylesheets/base';
@import '../../stylesheets/tabs';

$width-project-bar: 240px;

.project-panel {
    display: flex;
    height: 100%;

    .sidebar {
        @include background-color($color-foreground-alt);
        display: flex;
        position: relative;
        flex-basis: $width-project-bar;
        flex-direction: column;
        flex-shrink: 0;
        margin: -$spacing-small $spacing-small (-$spacing-small) (-$spacing-small);
        border-right: $width-separator-thin solid $color-separator-alt;

        .header {
            @include background-color($color-background-header);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .project-list {
            flex-grow: 1;
            overflow-y: auto;

            .list-item {
                display: block;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;

                .link {
                    display: block;
                    padding: $spacing-small;
                    width: 100%;
                    height: 100%;
                    text-transform: none;
                }
            }

            .active {
                border-left-color: $color-accent;
                background-color: $color-background-selected;
            }

            :hover {
                background-color: $color-background-hover;
            }
        }
    }

    .project-details {
        @extend %main-content;
        @include background-color($color-background-alt);
        flex-grow: 1;
    }

    .no-project-text {
        @include background-color-with-disabled-text($color-foreground-alt);
        display: flex;
        align-items: center;
        flex-basis: 84%;
        justify-content: center;
        margin: 0;
        font-size: $font-size-extra-large;
    }
}
