@import 'base';

.add-lead {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-medium-alt $spacing-extra-large;
    }

    .inputs {
        flex-grow: 1;
        padding: 0 $spacing-extra-large;
        overflow-y: auto;

        >* {
            margin: $spacing-small-alt 0;
        }
    }

    .action-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: $spacing-medium-alt $spacing-extra-large;
    }
}

.submit-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $height-app;
    color: $color-success;

    .add-entry-link {
        background-color: $color-accent;
        cursor: pointer;
        padding: $spacing-small;
        color: $color-text-on-accent;
    }
}

.submit-failure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height-app;
    color: $color-danger;
}
