@import 'base';

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-medium-alt $spacing-large;
    }

    .content {
        flex-grow: 1;
        padding: $spacing-medium-alt $spacing-large;
    }
}
