@import '../../../../../stylesheets/base';

.geo-list {
    display: flex;
    flex-direction: column;
    padding: 0;

    .geo-select {
        flex-shrink: 0;
    }

    .region-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: $width-separator-thin solid $color-separator;
        overflow-y: auto;

        .region-name {
            flex-shrink: 0;
            background-color: $color-background-row;
            padding: $spacing-small $spacing-medium-alt;

            &:nth-child(odd) {
                background-color: $color-background-row-alt;
            }
        }

        :global .empty {
            justify-content: flex-start;
            padding: 0 $spacing-small;
        }
    }
}
