@import '../../../../../stylesheets/base';

.geo-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;


}

%modal {
    :global {
        .modal-content {
            width: auto;
            min-width: 800px;
            max-width: 96vw;

            .modal-body {
                padding: 0;
            }
        }
    }
}

.map-modal {
    @extend %modal;

    .map-content {
        height: 700px;
    }

    .search-box {
        display: flex;
        justify-content: space-between;
        padding: $spacing-medium;
    }

    .region-list {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-foreground;
        padding: $spacing-medium;

        .selected-regions {
            display: flex;
            margin-right: $spacing-medium;
            background-color: $color-background-disabled;
            padding: $spacing-extra-small;

            .region-name {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-size-large;
            }
        }

    }
}
