@import '../../../../../stylesheets/base';

.geo-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    .location-button {
        color: $color-accent;
    }
}

%modal {
    :global {
        .modal-content {
            width: auto;
            min-width: 1200px;
            max-width: 96vw;

            .modal-body {
                display: flex;
                padding: 0;
            }
        }
    }
}

.map-modal {
    @extend %modal;

    .map-content {
        flex-basis: 70%;
        height: 700px;
    }

    .content {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        background-color: $color-foreground-alt;

        .search-box {
            padding: $spacing-medium;

            h3 {
                margin-bottom: $spacing-medium;
             }
        }

        .regions-table {
            flex-grow: 1;
            margin-top: $spacing-large;
            overflow-y: auto;

            :global .header {
                position: sticky;
                top: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-small $spacing-medium-alt;
                user-select: none;

                &:not(.actions) {
                    cursor: pointer;

                    &:hover {
                        background-color: $color-background-hover;
                    }
                }
            }
        }

        .region-list {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-medium;

            .selected-regions {
                @include shadow-small;
                display: flex;
                margin-right: $spacing-medium;
                background-color: $color-background-disabled;
                padding: $spacing-extra-small;
                font-size: $font-size-medium;

                .region-name {
                    display: flex;
                }
            }
        }
    }
}

:global #region-select-options,
:global #location-select-options {
    z-index: 1111;
}
