@import '../../../../stylesheets/base';

.add-lead {
    .tab-container {
        display: flex;
        padding: $spacing-medium-alt;
        overflow-y: auto;

        .lead-list-container {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            background-color: $color-foreground-alt;
            height: calc(100vh - #{$height-navbar} - #{$spacing-medium-alt * 2});
            overflow-y: hidden;

            .header {
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                background-color: $color-background-header;
                padding: $spacing-medium $spacing-medium-alt;

                .title {
                    text-transform: uppercase;
                }

                .search,
                .source-filter {
                    background-color: transparent;

                    :global .empty {
                        display: none;
                    }
                }

                .filter {
                    flex-basis: calc(100% / 3 - #{$spacing-extra-small});
                }
            }

            .list {
                flex-grow: 1;
                overflow-y: auto;

                .list-item {
                    display: flex;
                    align-items: center;
                    border-bottom: $width-separator-thin solid $color-separator;
                    border-left: $width-separator-thick solid transparent;
                    cursor: pointer;
                    padding-top: $spacing-small $spacing-medium;
                    user-select: none;
                    overflow-y: auto;

                    &.active {
                        border-left: $width-separator-thick solid $color-accent;
                        background-color: $color-hover;
                    }

                    .icon {
                        display: inline-flex;
                        flex-basis: $width-icon-large;
                        flex-shrink: 0;
                        padding: $spacing-small $spacing-large;
                        font-size: $font-size-large;
                    }

                    .icon-checked {
                        display: inline-block;
                        flex-shrink: 0;
                        padding: $spacing-medium;
                        color: $color-success;
                        font-size: $font-size-large;
                    }
                }
            }

            .add-lead-container {
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;

                .heading {
                    flex-basis: 100%;
                    margin: 0;
                    border-top: $width-separator-normal solid $color-separator;
                    // border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-medium $spacing-large;
                    color: $color-label;
                    font-size: $font-size-small;
                    font-weight: $font-weight-medium;
                }

                .add-lead-btn {
                    flex-basis: 20%;
                    color: $color-text;
                    font-family: inherit;
                    font-size: inherit;

                    span {
                        font-size: $font-size-extra-large;
                    }

                    p {
                        margin: $spacing-medium 0 0;
                        font-size: $font-size-extra-small;
                    }

                    &:hover {
                        cursor: pointer;
                        color: $color-accent;
                    }
                }
            }
        }

        .lead-detail-container {
            flex-basis: 70%;
            background-color: $color-foreground;
            height: calc(100vh - #{$height-navbar} - #{$spacing-medium-alt * 2});
            overflow-y: auto;

            .tab {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .add-lead-form {
                    flex-shrink: 0;
                }

                .lead-preview {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

:global #lead-list-filter-options {
    min-width: 108px;

    .select-option {
        display: flex;
        padding: $spacing-medium;
    }
}
