@import '../../../../stylesheets/base';

.add-lead {



    .container {
        display: flex;
        padding: $spacing-large;
        $height-full-page: calc(100vh - #{$height-navbar} -  2 * #{$spacing-large});

        .leads-list-container {
            @include shadow-medium;
            flex-basis: 25%;
            $height-header: 124px;
            background-color: $color-foreground;

            .header-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: $spacing-medium;
            }
        }

        .leads-details-container {
            @include shadow-medium;
            flex-basis: 75%;
            background-color: darken($color-foreground, 1%);
            height: $height-full-page;
            $height-full-page: calc(100vh - #{$height-navbar} -  2 * #{$spacing-large});
        }

    }
}
