@import '../../../../stylesheets/base';

.report-structure {
    padding: 0 $spacing-medium;

    h2 {
        margin: $spacing-large 0;
        font-weight: $font-weight-medium;
    }

    .multi-checkbox {
        padding: $spacing-large;
    }
}
