@import '../../../stylesheets/base';

.list {
    display: flex;
    flex-direction: column;
    padding: $spacing-small;
    width: 100%;
    height: 100%;

    .input {
        flex-shrink: 0;
        margin-bottom: $spacing-small;
        width: 100%;
    }

    .selected-options {
        flex-grow: 1;
        overflow: auto;

        .selected-option {
            display: flex;

            .marker {
                align-self: flex-start;
                flex-shrink: 0;
                padding-right: $spacing-extra-small-alt;
                color: $color-text-label;
            }

            .label {
                flex-grow: 1;
            }

        }

    }
}
