@import '../../../../../../stylesheets/base';

.ce-detail-form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: $spacing-medium-alt;

    .action-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        width: 540px;

        button {
            margin-left: $spacing-medium;
        }
    }

    .name {
        width: 540px;
    }
}
