@import '../../../stylesheets/base';

.gallery-file-name {
    color: $color-accent;
}

.upload-filename {

    .label {
        margin-right: $spacing-small;
    }

    .loading-animation {
        display: inline-block;
        animation: spin 1s linear infinite;
    }

}

.pending-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
