@import '../../../../../stylesheets/base';

.tagging-matrix-2d-overview {
    .table {
        width: 100%;
        text-align: center;

        th {
            position: sticky;
            top: 0;
        }

        .sector {
            padding: $spacing-small $spacing-medium;
        }

        .dimension {
            padding: $spacing-small $spacing-medium;
        }

        .subdimension {
            padding: $spacing-small $spacing-medium;
        }
    }
}
