@import '../../../../stylesheets/base';

.entry-attributes {
    display: flex;
    flex-wrap: wrap;

    h4 {
        flex-basis: 100%;
        margin: $spacing-medium 0;
        font-weight: $font-weight-medium;
    }

    .pillars,
    .location,
    .affected-groups,
    .demographic-groups,
    .sub-pillars,
    .sector-and-subsectors {
        flex-basis: 25%;
        padding: $spacing-small;
    }

    .severity-from,
    .severity-to,
    .reliability-from,
    .reliability-to, {
        flex-basis: 12%;
        padding: $spacing-small;
    }
}
