@import '../../../../stylesheets/base';

.entries-list {
    position: relative;
    height: 100%;

    .entries-list-item {
        position: relative;
        border-bottom: $width-separator-thin solid $color-separator;
        border-left: $width-separator-thick solid transparent;
        padding: $spacing-small;

        .add-entry-list-item {
            display: flex;
            justify-content: space-between;
            outline: 0;
            border: 0;
            background-color: transparent;
            padding: $spacing-small;
            width: 100%;
            text-align: left;
            font-family: inherit;
            font-size: inherit;

            .entry-excerpt {
                flex-grow: 1;
                padding-right: $spacing-large;
                text-align: justify;
            }

            .image {
                max-width: 100%;
                max-height: 128px;
                object-fit: contain;
            }
        }
    }

}
