@import '../../../../stylesheets/base';

.project-general-form {
    position: relative;
    padding: $spacing-large;
    width: 100%;
    max-width: 540px;

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $spacing-medium;
        }
    }

    .start-date,
    .end-date {
        flex-basis: calc(50% - #{$spacing-large});
    }

    .name,
    .description,
    .other-members,
    .admins {
        flex-basis: 100%;
    }

    .regions,
    .user-groups {
        padding: $spacing-medium 0;
    }
}
