@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.country-general {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;

    .details-edit {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .detail-map-container {
            display: flex;
            flex-shrink: 0;
            height: 480px;

            .region-detail-form {
                flex-basis: 30%;
                border-right: $width-separator-thin solid $color-hover;
                min-width: 240px;
            }

            .map-container {
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: center;
            }
        }

        .admin-levels {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}
