@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.country-general {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;

    .details-edit {
        display: flex;
        flex-grow: 1;

        .detail-container {
            display: flex;
            flex-direction: column;

            .region-detail-form {
                min-width: 240px;
            }

            .admin-levels {
                flex-grow: 1;
                padding: $spacing-medium;
            }
        }

        .map-container {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
        }
    }
}
