@import '../../../stylesheets/base';

.list {
    padding: $spacing-small;
    width: 100%;
    height: 100%;

    .input {
        width: 100%;
    }
}

$height-edit-modal: 512px;

.edit-modal {
    width: $width-modal-small;
    height: $height-edit-modal;

    .body {
        display: flex;
        flex-direction: column;
        padding: 0;

        .title-input-container {
            flex-shrink: 0;
            padding: $spacing-medium;
        }

        .option-inputs {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .header {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                border-top: $width-separator-thin solid $color-separator;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-header;
                padding: 0 $spacing-medium;
            }

            .edit-option-list {
                flex-grow: 1;
                overflow-y: auto;

                .edit-option {
                    display: flex;
                    padding: $spacing-small $spacing-medium;

                    .title-input {
                        flex-grow: 1;
                    }

                    .delete-button {
                        flex-shrink: 0;
                        align-self: flex-end;
                    }
                }
            }
        }
    }
}
