@import '../../../stylesheets/base';

.user-group-edit-form {
    position: relative;

    .description {
        :global .input {
            resize: none;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $spacing-medium;
        }
    }
}
