@import '../../stylesheets/base';

.geo-selection {
    display: flex;

    .flat-select-input {
        flex-grow: 1;
    }

    .map-modal-button {
        flex-shrink: 0;
        align-self: flex-end;
        margin-bottom: $width-separator-medium;
    }
}

.modal {
    width: 72vw;

    .location-selects {
        display: flex;

        .map-selection-select {
            margin-left: $spacing-small;
        }
    }

    .body {
        display: flex;
        padding: 0;
        height: 60vh;

        .map {
            flex-basis: 80%;
            border-right: $width-separator-thin solid $color-separator;
        }

        .map-selections {
            flex-basis: 20%;
            padding: 0;

            .map-selections-list {
                flex-shrink: 0;
                height: 100%;
                overflow-y: auto;

                .admin-level-section {
                    display: flex;
                    flex-direction: column;
                    border-bottom: $width-separator-thin solid $color-separator-alt;

                    .title {
                        display: block;
                        flex-shrink: 0;
                        padding: $spacing-medium $spacing-small;
                        width: 100%;
                        text-transform: uppercase;
                        color: $color-accent;
                        font-size: $font-size-extra-small;
                    }

                    .region-item {
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $color-background-row;
                        padding: $spacing-extra-small $spacing-medium;

                        &:nth-child(even) {
                            background-color: $color-background-row-alt;
                        }
                    }
                }
            }
        }
    }
}
