@import '../../../../stylesheets/base';

$height-bottom: 256px;

.metadata {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground-alt;

    %section-basic {
        display: flex;
        flex-direction: column;

        >.header {
            flex-shrink: 0;
        }

        >.content {
            display: flex;
            flex-grow: 1;
        }
    }

    .basic-information {
        @extend %section-basic;
        flex-grow: 1;

        .content {
            .widget-group {
                @extend %background-alternating-row;
                flex-grow: 1;

                .heading {
                    padding: $spacing-medium;
                    color: $color-accent;
                }

                .content {
                    padding: $spacing-medium;
                }
            }
        }
    }

    .additional-documents {
        @extend %section-basic;
        flex-shrink: 0;
        height: $height-bottom;

        .header {
            flex-shrink: 0;
        }

        .content {
            .baksa {
                margin-right: 5%;
                width: 20%;
            }
        }
    }
}
