@import '../../../../stylesheets/base';

$height-bottom: 320px;
$width-documents: 480px;

.metadata {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground-alt;

    > .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;

        .non-field-errors {
            flex-grow: 1;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: $spacing-small $spacing-medium;
        }
    }

    .top {
        display: flex;
        flex-grow: 1;

        .widget-group {
            @extend %background-alternating-row;
            flex-grow: 1;

            .heading {
                padding: $spacing-medium;
                color: $color-accent;
            }

            .content {
                padding: $spacing-medium;
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        height: $height-bottom;

        .header {
            @include background-color($color-background-header);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            border-top: $width-separator-thin solid $color-separator;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium;

            .action-buttons {
                button {
                    margin-left: $spacing-small;
                }
            }
        }

        .documents {
            flex-grow: 1;
            width: $width-documents;
            overflow-y: auto;

            .document {
                @extend %background-alternating-row;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 $spacing-medium;
            }
        }
    }
}
