@import '../../../../stylesheets/base';

$height-additional-documents: 256px;

.metadata {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground-alt;

    %section-basic {
        display: flex;
        flex-direction: column;

        >.header {
            flex-shrink: 0;
        }

        >.content {
            display: flex;
            flex-grow: 1;
        }
    }

    .additional-documents {
        @extend %section-basic;
        flex-shrink: 0;
        height: $height-additional-documents;

        .header {
            flex-shrink: 0;
        }

        .content {
            padding: 0 $spacing-medium;

            .baksa {
                flex-basis: calc(100% / 3);
                padding: $spacing-medium;
            }
        }
    }

    .basic-information {
        @extend %section-basic;
        flex-grow: 1;
        border-bottom: $width-separator-thin solid $color-separator;

        .content {
            overflow-x: auto;

            .widget-group {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                &:not(:last-child) {
                    border-right: $width-separator-thin solid $color-separator;
                }

                .heading {
                    flex-shrink: 0;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-medium;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                .content {
                    flex-grow: 1;
                    padding: $spacing-medium;
                    overflow-y: auto;
                }
            }
        }
    }
}
