.export-types {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    border-right: $width-separator-medium solid $color-separator;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        .heading {
            padding: $spacing-medium;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: $spacing-medium;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-top: $width-separator-medium solid $color-separator;

        .export-type-select-list {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;

            .export-type-select {
                display: block;
                flex-grow: 1;
                flex-shrink: 0;
                outline: 0;
                border: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                background-color: transparent;
                cursor: pointer;
                padding: $spacing-medium;

                .image {
                    @include transition-medium;
                    width: $width-icon-extra-large-alt;
                    height: auto;
                    filter: grayscale(80%);
                }

                &.active {
                    border-bottom-color: $color-accent;
                    background-color: $color-foreground-alt;

                    .image {
                        filter: grayscale(0%);
                    }
                }
            }
        }

        .export-type-options {
            flex-grow: 1;
            padding: $spacing-large;
        }
    }
}
