.export-types {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    border-right: $width-separator-thin solid $color-separator;

    .export-type-select-list {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .export-type-select {
            display: block;
            flex-grow: 1;
            flex-shrink: 0;
            outline: 0;
            border: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-medium;

            .image {
                @include transition-medium;
                width: $width-icon-extra-large-alt;
                height: auto;
                filter: grayscale(80%);
            }

            &.active {
                border-bottom-color: $color-accent;
                background-color: $color-foreground-alt;

                .image {
                    filter: grayscale(0%);
                }
            }
        }
    }

    .export-type-options {
        flex-grow: 1;
        padding: $spacing-medium;
        overflow: auto;

        p {
            margin: 0 0 $spacing-small $spacing-small;
            color: $color-label;
        }

        .info {
            display: flex;
            margin-top: $spacing-medium;

            .icon {
                flex-shrink: 0;
                color: $color-info;
                font-size: $font-size-large;
            }

        }

        .decoupled-box {
            display: flex;
            cursor: pointer;

            .help-box {
                position: relative;
                width: 20px;

                i {
                    color: $color-warning;
                    font-size: $font-size-large;
                }
            }

            .box {
                display: flex;
                position: absolute;
                flex-wrap: wrap;
                transform: translateY(25%) translateX(50%);
                z-index: 1111;
                border: $width-separator-thin solid $color-accent;
                background-color: $color-foreground-alt;
                padding: $spacing-medium;
                width: 400px;

                span {
                    margin-top: $spacing-small;
                    font-style: italic;
                }
            }
        }
    }
}
