.filters {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;

    .header {
        flex-shrink: 0;
        border-bottom: $width-separator-medium solid $color-separator;
        padding: $spacing-medium;
    }

    .content {
        display: flex;
        flex-grow: 1;

        .left {
            display: flex;
            flex-basis: 40%;
            flex-direction: column;
            border-right: $width-separator-medium solid $color-separator;

            .basic-information {
                flex-shrink: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium;

                .excerpt,
                .created-by,
                .created-at {
                    margin: $spacing-small 0;
                }
            }

            .entry-attributes {
                flex-grow: 1;
                padding: $spacing-medium;
                overflow-y: auto;
            }
        }

        .right {
            display: flex;
            flex-basis: 60%;
            flex-direction: column;

            .lead-attributes {
                flex-shrink: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium;

                .title,
                .source,
                .created-at {
                    margin: $spacing-small 0;
                }
            }

            .leads {
                flex-grow: 1;
                overflow-y: auto;

                .select-lead {
                    background-color: $color-background-row;
                    padding: $spacing-small $spacing-medium;

                    &:nth-child(odd) {
                        background-color: $color-background-row-alt;
                    }
                }
            }
        }
    }
}
