.filters {
    display: flex;
    flex-basis: 50%;

    .heading {
        padding: $spacing-small;
    }

    .entry-filters {
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator;

        :global {
            .entries-filters {
                padding: $spacing-extra-small-alt;

                .entries-filter {
                    margin: $spacing-small;
                }

                .range-filter-container {
                    display: flex;
                    margin: 0;

                    .entries-filter {
                        flex-grow: 1;
                        margin: $spacing-small;
                    }
                }

                .button {
                    margin: $spacing-small;
                }
            }
        }
    }

    .lead-filters {
        display: flex;
        flex-basis: 60%;
        flex-direction: column;

        .lead-attributes {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;

            .heading {
                padding: $spacing-small;
            }

            :global {
                .leads-filters {
                    display: flex;
                    flex-wrap: wrap;
                    padding: $spacing-extra-small-alt;

                    .leads-filter {
                        flex-basis: calc(50% - #{$spacing-small * 2});
                        margin: $spacing-small;
                    }

                    .button {
                        margin: $spacing-small;
                    }
                }
            }
        }

        .leads {
            flex-grow: 1;
            overflow-y: auto;

            .select-lead {
                background-color: $color-background-row;
                padding: $spacing-small $spacing-medium;

                &:nth-child(odd) {
                    background-color: $color-background-row-alt;
                }
            }
        }
    }
}
