.preview {
    display: flex;
    flex-basis: 26%;
    align-items: center;
    justify-content: center;
    background-color: $color-foreground-alt;
    color: $color-text-disabled;
    font-size: $font-size-large;
}
