@import '../../../stylesheets/base';

.export {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    >.header {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-medium $spacing-medium-alt;
    }

    .main-content {
        display: flex;
        flex-grow: 1;
        background-color: $color-foreground;

        @import 'export-types';
        @import 'filters';
        @import 'preview';
    }
}
