@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';

.tabs-container {
    flex-grow: 1;
    overflow: auto;

    .tabs-content {
        display: flex;
        flex-direction: column;

        .tab {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }
    }
}
