@import '../../../../stylesheets/base';

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .filter {
        margin: $spacing-small;
    }

    .apply-filter-btn {
        padding: $spacing-small $spacing-medium;
    }
}
