@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: projects;

    >.header {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-medium;

        h2 {
            flex-basis: 20%;
        }

        .pusher {
            flex-grow: 1;
        }
    }

    .projects-table {
        flex-grow: 1;
        overflow-y: auto;

        :global .header {
            position: sticky;
            top: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;
            text-align: left;
            user-select: none;

            &:not(.actions) {
                cursor: pointer;

                &:hover {
                    background-color: $color-background-hover;
                }
            }
        }
    }
}

.action-button {
    padding: $spacing-extra-small $spacing-small;
    min-width: $width-icon-large;

    &:hover {
        background-color: $color-hover;
    }
}

.link-to-project {
    padding: $spacing-small;
    color: $color-primary;

    :global .ion-android-open {
        margin: 0 $spacing-small;
    }

    :global .ion-edit {
        margin: 0 $spacing-small;
    }
}


.delete-btn {
    padding: $spacing-small;
    color: $color-danger;

    :global .ion-android-delete {
        margin: 0 $spacing-small;
    }
}

.delete-confirm-modal {
    width: 400px;

    :global .modal-header {
        .heading {
            font-size: $font-size-medium-alt;
        }
    }
}
