@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: projects;

    >.header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-small $spacing-medium;
        height: $height-navbar;
        background-color: $color-background-header;
    }

    .projects-table {
        flex-grow: 1;
        overflow-y: auto;

        .link {
            padding: 0 $spacing-medium;
        }
    }
}
