@import '../../../../stylesheets/base';

$width-table: 320px;

%cell {
    padding: $spacing-small;
}

.score {
    display: flex;
    flex-direction: column;

    .summary {
        @include background-color($color-background-header);
        display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        padding: $spacing-medium;

        .left {
            display: flex;
            flex-grow: 1;
        }

        .right {
            flex-shrink: 0;
        }

        .item {
            padding: $spacing-small $spacing-medium;

            .title {
                color: $color-text-label;
            }

            .number {
                font-size: $font-size-large;
            }
        }
    }

    >.content {
        display: flex;
        flex-grow: 1;

        .right {
            overflow-y: auto;

            .matrix-pillar {
                flex-wrap: wrap;

                >.title {
                    padding: $spacing-small;
                    text-transform: uppercase;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                .content {
                    display: flex;

                    .matrix-question {
                        padding: $spacing-small;

                        .title {
                            color: $color-text;
                        }
                    }
                }

            }
        }

        .left {
            flex-basis: $width-table;
            border-right: $width-separator-thin solid $color-separator;
            overflow-y: auto;

            .table {
                width: 100%;
                border-collapse: collapse;

                .body {
                    .header-row {
                        &:not(:first-child) {
                            border-top: $width-separator-thin solid $color-separator;
                        }

                        .pillar-title {
                            @extend %cell;
                            text-transform: uppercase;
                            color: $color-accent;
                            font-weight: $font-weight-bold;
                        }
                    }
                    .row {
                        @extend %background-alternating-row;

                        .cell {
                            @extend %cell;

                            .content {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;

                                .title {
                                    align-self: center;
                                }

                                .info-icon {
                                    transition: $duration-medium opacity ease-in-out;
                                    opacity: 0;
                                    color: $color-text-label;
                                    font-size: $font-size-extra-large;
                                }
                            }
                        }

                        &:hover {
                            .cell {
                                .content {
                                    .info-icon {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }

}
