@import '../../../../stylesheets/base';

$height-table-max: 540px;

.score {
    overflow-y: auto;

    %cell {
        border: $width-separator-thin solid $color-separator;
        padding: $spacing-small;
    }

    .table {
        width: 100%;
        max-width: $height-table-max;
        border-collapse: collapse;

        .head {
            .row {
                .heading {
                    @extend %cell;
                }
            }
        }

        .body {
            .row {
                @extend %background-alternating-row;

                .cell {
                    @extend %cell;

                    .content {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .info-icon {
                            transition: $duration-medium opacity ease-in-out;
                            opacity: 0;
                            color: $color-text-label;
                            font-size: $font-size-extra-large;
                        }
                    }
                }

                .pillar-title {
                    @extend %cell;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                &:hover {
                    .cell {
                        .content {
                            .info-icon {
                                opacity: 1;
                            }
                        }
                    }
                }

            }
        }
    }

}
