@import '../../../stylesheets/base';

.geo-map {
    display: flex;
    position: relative;
    flex-grow: 1;

    .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }
}
