@import '../../../../../stylesheets/base';

$width-value: 12px;
$height-value: 20px;

$width-value-active: 16px;
$height-value-active: 30px;

.scale-input {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $height-value-active;

    .value {
        margin: 0 $spacing-extra-small;
        outline: 0;
        border: 0;
        border-radius: $radius-button-border;
        cursor: pointer;
        width: $width-value;
        height: $height-value;

        &.active {
            width: $width-value-active;
            height: $height-value-active;
        }
    }
}
