@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';

.usergroup {
    display: flex;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    .left {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;

        .title {
            display: flex;
            flex-shrink: 0;
            background-color: $color-foreground;
            padding: $spacing-medium $spacing-large;

            button {
                margin-left: $spacing-small;

                .ion-edit {
                    margin: $spacing-small;
                }

                &:hover {
                    background-color: $color-background-hover;
                }

            }
        }

        .tabs-container {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            flex-grow: 1;
            background-color: $color-foreground;

            .tabs-header-container {
                flex-shrink: 0;
            }

            .tab {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
    }

    .right {
        flex-basis: 30%;
        border-left: $width-separator-medium solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-small;
    }
}

.user-group-edit-modal {
    width: 480px;
}
