$width-entry-select-input: 400px;
$width-left-panel-min: 436px;
$width-right-panel-min: 654px;

$height-tabs: 48px;

.overview {
    display: flex;
    height: 100%;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        width: 30%;
        min-width: $width-left-panel-min;
        height: 100%;

        .tabs {
            height: $height-tabs;
        }

        %container {
            background-color: $color-foreground-alt;
            height: calc(100% - #{$height-tabs});
            overflow-y: auto;
        }

        .simplified-preview {
            @extend %container;
        }

        .original-preview {
            @extend %container;

            .preview {
                height: 100%;
            }

            .empty-text {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }

        .assisted-tagging {
            @extend %container;

            :global {
                .preview {
                    height: calc(100% - 59px);
                    overflow-y: auto;
                }

                .assistant-options {
                    border-top-color: $color-accent;
                }
            }
        }

        .images-preview {
            @extend %container;
        }

        .entries-list-container {
            @extend %container;
            @import 'entry-container';
        }
    }

    .right {
        width: 70%;
        min-width: $width-right-panel-min;

        >.header {
            @include background-color($color-foreground);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: 0 $spacing-medium;
            height: $height-tabs;

            .entry-actions {
                display: flex;
                align-items: flex-end;

                .select-input {
                    width: $width-entry-select-input;
                }

                >* {
                    margin-right: $spacing-small;
                }
            }

            .action-buttons {
                .goto-link {
                    @extend %button-like-link;
                    @include background-color($color-primary);
                }

                .save-button {
                    margin-left: $spacing-medium;
                }
            }
        }

        .container {
            @include background-color($color-background-alt);
            position: relative;
            width: 100%;
            height: calc(100% - #{$height-tabs});
            overflow: auto;

            .grid-layout {
                min-width: 100%;
                min-height: 100%;

                :global {
                    .grid-item {
                        @extend %grid-item;

                        .header {
                            @include background-color($color-background-header);
                        }

                        .content {
                            @include background-color($color-foreground-alt);
                        }
                    }
                }
            }
        }
    }

    .entry-list {
        height: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

