@import '../../stylesheets/base';

$color-text-on-navbar: get-text-color($color-navbar);
$color-text-on-primary: get-text-color($color-primary);

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 $spacing-extra-small $spacing-small (-$spacing-extra-small) $color-shadow-medium;
    background-color: $color-navbar;
    padding: 0 $spacing-medium-alt;
    color: $color-text-on-navbar;

    .brand {
        display: flex;
        position: relative;
        align-items: center;
        align-self: stretch;
        color: $color-text-on-navbar;
        font-size: $font-size-super-large;

        .icon-wrapper {
            margin-right: $spacing-small;

            .icon {
                width: $width-navbar-icon;
                height: $height-navbar-icon;

                path {
                    fill: $color-text-on-navbar;
                }
            }
        }

        .title {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: $font-size-extra-large;
        }

        .beta-label {
            position: absolute;
            top: 50%;
            right: -$spacing-extra-small;
            transform: translate(100%, -100%);
            opacity: .7;
            border-radius: $font-size-extra-small;
            background-color: $color-foreground;
            padding: 0 $spacing-extra-small-alt;
            color: $color-primary;
            font-size: $font-size-extra-small;
        }
    }

    .project-select-input {
        flex-basis: 240px;
        flex-shrink: 0;
        margin: 0 5%;

        :global {
            .input-wrapper {
                .input {
                    border-bottom-color: get-text-color($color-navbar, $color-separator-on-light, $color-separator-on-dark);
                    color: $color-text-on-navbar;

                    &::placeholder {
                        color: get-text-color($color-navbar, $color-text-placeholder-on-light, $color-text-placeholder-on-dark);
                    }
                }
            }
        }
    }

    .main-menu {
        align-self: stretch;
        flex-grow: 1;

        >button {
            padding: $spacing-small;
        }
    }

    .user-menu {
        align-self: stretch;
        flex-shrink: 0;
    }
}
