@import '../../../stylesheets/base';

.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $spacing-small;
    width: 100%;
    height: 100%;
    overflow: auto;

    .scale-unit {
        transition: .1s all ease-in-out;
        margin-left: $spacing-extra-small;
        outline: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        width: $width-scale-widget-unit;
        height: $height-scale-widget-unit;

        &.selected {
            width: $width-scale-widget-unit-selected;
            height: $height-scale-widget-unit-selected;
        }
    }
}
