@import '../../../../../stylesheets/base';

.entries-list {
    height: 100%;

    .entries-list-item {
        position: relative;
        border-bottom: $width-separator-thin solid $color-separator;
        border-left: $width-separator-thick solid transparent;
        padding: $spacing-small;

        &.active {
            border-left: $width-separator-thick solid $color-accent;
            background-color: $color-background-selected;
        }

        .add-entry-list-item {
            display: flex;
            justify-content: space-between;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-small;
            width: 100%;
            text-align: left;
            font-family: inherit;
            font-size: inherit;

            .entry-excerpt {
                flex-grow: 1;
                padding-right: $spacing-large;
                text-align: justify;
            }

            .image {
                max-width: 100%;
                max-height: 128px;
                object-fit: contain;
            }

            .status-icons {
                display: flex;

                .pending,
                .error,
                .complete,
                .pristine {
                    flex-shrink: 0;
                    margin-left: $spacing-small;
                    padding: 0;
                    color: $color-text-label;
                    font-size: $font-size-medium-alt;
                }

                .pending {
                    animation: spin 1s linear infinite;
                }

                .error {
                    margin-left: 0;
                    color: $color-danger;
                }

                .complete {
                    color: $color-success;
                }
            }

            &:disabled {
                .image {
                    opacity: .5;
                }
            }
        }

        .remove-button {
            display: none;
            position: absolute;
            top: $spacing-small;
            right: $spacing-small;
        }

        &:hover {
            background-color: $color-background-hover;

            .add-entry-list-item {
                .status-icons {
                    opacity: 0;
                }
            }

            .remove-button {
                display: initial;
                opacity: 1;
                animation: fade .5s linear;
            }
        }
    }
}
