@import '../../../../../stylesheets/base';
@import '../../../../../stylesheets/modal';

$region-detail-form-width: 320px;
$height-header: 39px;


.region-details-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        @include background-color($color-background-header);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: 0 $spacing-small;
        height: $height-header;

        .action-buttons {
            .clone-and-edit-button {
                margin-left: $spacing-small;
            }
        }
    }

    .content {
        height: calc(100% - #{$height-header});

        &.view-only {
            position: relative;

            .region-map {
                height: 100%;
            }
        }

        .top {
            display: flex;
            height: 60%;

            .region-map {
                flex-grow: 1;
                height: 100%;
            }

            .region-detail-form {
                @include background-color($color-foreground);
                border-left: $width-separator-thin solid $color-separator;
                width: $region-detail-form-width;
            }
        }

        .admin-level-table {
            height: 40%;
        }
    }
}
