@import '../../stylesheets/base';

.register {
    @extend %main-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .register-box {
        %register-basic {
            position: relative;
            background-color: $color-foreground;
            padding: $spacing-small $spacing-large $spacing-large;
            width: $width-register-form;
        }

        .register-form {
            @extend %register-basic;

            .action-buttons {
                display: flex;
                justify-content: flex-end;
                margin-top: $spacing-medium;
            }
        }

        .register-success {
            @extend %register-basic;
            padding: $spacing-large;
            text-align: center;
        }

        .login-link-container {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: center;
            margin-top: $spacing-extra-small;
            background-color: $color-foreground;
            padding: $spacing-medium;

            .login-link {
                margin: $spacing-medium;
                color: $color-accent;
                font-weight: $font-weight-medium;
            }
        }
    }
}
