@import '../../../stylesheets/base';

.list {
    width: 100%;
    height: 100%;
    overflow: auto;

    .row {
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small 0;

        .row-title {
            padding: $spacing-extra-small $spacing-small;
            color: $color-accent;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }

        .cols-container {
            .col {
                display: flex;
                justify-content: space-between;
                background-color: $color-background-row;
                padding: $spacing-extra-small $spacing-small;

                &:nth-child(odd) {
                    background-color: $color-background-row-alt;
                }

                .col-title {
                    color: $color-text;
                }

                .col-value {
                    font-family: monospace;
                }
            }
        }
    }
}
