@import '../../stylesheets/base';

$header-height: 48px;
$info-height: 144px;

.user-profile {
    @extend %main-content;
    display: grid;
    grid-template-areas:
        "header projects"
        "info projects"
        "stats projects"
        "stats groups";
    grid-template-columns: 3fr 7fr;
    grid-template-rows: $header-height $info-height 3fr 2fr;

    >* {
        background-color: $color-foreground;
    }

    .header {
        display: flex;
        align-items: center;
        border-right: $width-separator-thin solid $color-separator;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: 0 $spacing-medium-alt;
        grid-area: header;
    }

    .info {
        display: flex;
        align-items: flex-start;
        border-right: $width-separator-thin solid $color-separator;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-large;
        grid-area: info;

        .display-picture {
            border: $width-separator-medium solid $color-accent;
            border-radius: 50%;
            width: $info-height - $spacing-large * 2;
            height: 100%;
            overflow: hidden;

            :global .image {
                object-fit: cover;
            }
        }

        .detail {
            padding: $spacing-medium $spacing-extra-large;

            .name {
                display: flex;
                justify-content: space-between;
                font-size: $font-size-super-large;

                .first {
                    margin-right: $spacing-small;
                    color: $color-text;
                }

                .last {
                    color: $color-text;
                }

                button {
                    margin-left: $spacing-small;

                    .ion-edit {
                        margin: $spacing-small;
                    }

                    &:hover {
                        background-color: $color-background-hover;
                    }

                }
            }

            .email {
                margin: 0;
                color: $color-text-label;
            }

            .organization {
                color: $color-text-label;
            }
        }
    }

    .stats {
        border-right: $width-separator-thin solid $color-separator;
        padding: $spacing-medium;
        grid-area: stats;
    }

    .projects {
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-row-alt;
        grid-area: projects;
    }

    .groups {
        background-color: $color-background-row-alt;
        grid-area: groups;
    }

    .user-detail-alt {
        @include shadow-medium;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        background-color: $color-foreground;
        padding: $spacing-medium-alt;
        color: $color-text-label;
        font-size: $font-size-extra-large;
        grid-area: info / info / groups / groups;
    }
}

.user-profile-edit-modal {
    width: 480px;
}
