@import '../../../../stylesheets/base';

.login-form,
.register-form {
    background-color: $color-foreground;
    padding: $spacing-large;

    .action-buttons {
        margin-top: $spacing-medium;
    }
}
