%matrix-1d-cell {
    flex-shrink: 0;
    margin: $spacing-extra-small;
    background-color: $color-background;
    padding: $spacing-extra-small $spacing-small;
    color: $color-text;
    user-select: none;
}
