%matrix-1d-cell {
    @include background-color($color-foreground);
    flex-shrink: 0;
    margin: $spacing-extra-small;
    border: $width-separator-thin solid $color-separator;
    padding: $spacing-extra-small $spacing-small;
    user-select: none;
}
