@import '../../stylesheets/base';
@import '../../vendor/react-store/stylesheets/input-label';

// TODO: Change baksa to better name
.baksa {
    display: flex;
    flex-direction: column;

    .label {
        @extend %input-label;
        margin-bottom: $spacing-extra-small;
    }

    .page-range {
        display: flex;
        flex-shrink: 0;

        .page {
            flex-grow: 1;
        }

        .separator {
            flex-shrink: 0;
            margin: 0 $spacing-large;
        }
    }

    .drop-zone {
        flex-grow: 1;
    }

    .selection,
    .upload {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin: $spacing-medium 0;

        a {
            text-transform: initial;
            word-break: break-all;
        }

        .action {
            display: flex;
            margin-left: $spacing-small;
        }
    }

    .url-box {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-top: $spacing-small;

        .url-input {
            flex-grow: 1;
        }

        .action {
            flex-shrink: 0;
            margin-left: $spacing-small;
        }
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }
    }

    &.error {
        .label {
            color: $color-danger;
        }
    }

    %hint-and-error {
        margin: $spacing-extra-small 0 0;
        font-size: $font-size-extra-small;
    }

    .hint {
        @extend %hint-and-error;
        color: $color-text-label;
    }

    .error {
        @extend %hint-and-error;
        color: $color-danger;
    }

    .empty {
        @extend %hint-and-error;
        visibility: hidden;
    }
}
