@import '../../../stylesheets/base';

.analysis-framework {
    padding: $spacing-medium-alt;
    width: 100%;
    height: calc(100vh - #{$height-navbar});

    :global .responsive-wrapper {
        height: 100%;
    }

    %widget-list {
        flex-grow: 1;
        overflow-y: auto;

        .widget-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color-background-row;
            padding: $spacing-small $spacing-medium;

            .title {
                color: $color-text;
            }

            .actions {
                background-color: transparent;
            }

            &:nth-child(odd) {
                background-color: $color-background-row-alt;
            }
        }
    }

    %grid-item {
        .header {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            background-color: $color-background;
            cursor: grab;
            padding: $spacing-small $spacing-medium;

            .heading {
                font-size: $font-size-small;
            }

            .actions {
                position: absolute;
                top: 0;
                right: 0;
                font-size: $font-size-large;

                .close-button {
                    margin-left: $spacing-small;
                    color: $color-danger;
                }
            }
        }

        .content {
            flex-grow: 1;
            padding: $spacing-medium;
            height: calc(100% - 48px);
        }
    }

    .overview {
        display: flex;
        height: 100%;

        .left {
            display: flex;
            flex-basis: 26%;
            flex-direction: column;
            background-color: $color-foreground;

            .header {
                flex-shrink: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium;
            }

            .widget-list {
                @extend %widget-list;
            }
        }

        .right {
            flex-basis: 74%;
            background-color: $color-foreground-alt;
            overflow: auto;

            >.header {
                display: flex;
                position: sticky;
                top: 0;
                left: 0;
                align-items: center;
                justify-content: space-between;
                z-index: 11;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium;
                width: 100%;

                .entry-actions {
                    display: flex;
                }

                .action-buttons {
                    >* {
                        margin-left: $spacing-medium;
                    }
                }
            }

            .grid-layout {
                // min-height: 100%;
                overflow: visible;

                .grid-item {
                    @extend %grid-item;
                }
            }
        }
    }

    .list {
        background-color: $color-foreground-alt;
        height: 100%;

        $height-top: 55vh;

        .top {
            height: $height-top;
            overflow-y: auto;

            .grid-layout {
                height: 100%;

                .grid-item {
                    @extend %grid-item;
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            border-top: $width-separator-medium solid $color-separator;
            height: calc(100% - #{$height-top});

            .header {
                display: flex;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium $spacing-medium-alt;

                .action-buttons {
                    >* {
                        margin-left: $spacing-medium;
                    }
                }
            }

            .widget-list {
                @extend %widget-list;
                border-right: $width-separator-medium solid $color-separator;
                width: 26%;
            }
        }
    }
}

:global {
    .react-grid-layout {
        position: relative;
    }

    .react-grid-item {
        position: relative;
        transition: transform .1s ease;
        z-index: 10;
        border: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        will-change: transform, box-shadow;

        &.resizing {
            transition: none;
            opacity: .5;
            will-change: width, height, opacity;
        }

        .react-resizable-handle {
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: bottom right;
            cursor: se-resize;
            padding: 0 3px 3px 0;
            width: 20px;
            height: 20px;
            background-origin: content-box;
        }
    }

    .react-draggable-dragging {
        @include shadow-large;
        transition: none;
        z-index: 11;
        will-change: transform;
    }

    .react-grid-placeholder {
        transition: all .1s linear;
        z-index: 1;
        border: $width-separator-medium dashed $color-separator-alt;
        background-color: transparent;
        user-select: none;
    }

    .matrix-item {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        min-height: 32px;

        &:hover {
            background-color: $color-accent;
        }
    }
}

.image-widget {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
