@import '../../stylesheets/base';

$color-text-on-primary: get-text-color($color-primary);

.four-hundred-four {
    @extend %main-content;
    @include background-color($color-foreground-alt);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 2;

    .deep-logo {
        margin-bottom: $spacing-large;
        width: 256px;
        height: 256px;

        path {
            fill: $color-text-disabled;
        }
    }

    .heading {
        color: $color-danger;
        font-size: $font-size-super-large-alt;
        font-weight: $font-weight-bold;
    }

    .message {
        margin: $spacing-large 0;
        text-align: center;
        font-size: $font-size-large-alt;
    }

    .home-screen-link {
        color: $color-accent;
        font-size: $font-size-large;
    }
}
