$width-entry-select-input: 400px;
$width-left-panel-min: 436px;
$width-right-panel-min: 654px;

.overview {
    display: flex;
    height: 100%;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        width: 30%;
        min-width: $width-left-panel-min;
        height: 100%;

        .simplified-preview {
            background-color: $color-foreground-alt;
            height: 100%;
            overflow-y: auto;
        }

        .assisted-tagging {
            background-color: $color-foreground-alt;
            height: 100%;
            overflow-y: hidden;

            :global {
                .preview {
                    height: calc(100% - 59px);
                    overflow-y: auto;
                }

                .assistant-options {
                    border-top-color: $color-accent;
                }
            }
        }

        .original-preview {
            background-color: $color-foreground-alt;
            height: 100%;
            overflow-y: auto;

            .preview {
                height: 100%;
            }

            .empty-text {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }

        .images-preview {
            background-color: $color-background-alt;
            height: 100%;
            overflow-y: auto;
        }

        .entries-list-container {
            background-color: $color-foreground-alt;
            height: 100%;
            overflow-y: auto;

            .entries-list {
                height: 100%;

                :global {
                    .entries-list-item {
                        position: relative;
                        border-bottom: $width-separator-thin solid $color-separator;
                        border-left: $width-separator-thick solid transparent;
                        padding: $spacing-small;

                        &.active {
                            border-left: $width-separator-thick solid $color-accent;
                            background-color: $color-hover;
                        }

                        .add-entry-list-item {
                            display: flex;
                            justify-content: space-between;
                            outline: 0;
                            border: 0;
                            background-color: transparent;
                            cursor: pointer;
                            padding: $spacing-small;
                            width: 100%;
                            text-align: left;
                            font-family: inherit;
                            font-size: inherit;

                            .entry-excerpt {
                                flex-grow: 1;
                                padding-right: $spacing-large;
                                text-align: justify;
                            }

                            .image {
                                max-width: 100%;
                                max-height: 128px;
                                object-fit: contain;
                            }

                            .status-icons {
                                display: flex;

                                .pending,
                                .error,
                                .complete,
                                .pristine,
                                .stale {
                                    flex-shrink: 0;
                                    margin-left: $spacing-small;
                                    padding: 0;
                                    color: $color-label;
                                    font-size: $font-size-medium-alt;
                                }

                                .pending {
                                    animation: spin 1s linear infinite;
                                }

                                .error {
                                    animation: spin 1s linear infinite;
                                    margin-left: 0;
                                    color: $color-danger;
                                }

                                .complete {
                                    color: $color-success;
                                }
                            }

                            &:disabled {
                                .image {
                                    opacity: .5;
                                }
                            }
                        }

                        .remove-button {
                            display: none;
                            position: absolute;
                            top: $spacing-small;
                            right: $spacing-small;
                        }

                        &:hover {
                            .add-entry-list-item {
                                .status-icons {
                                    opacity: 0;
                                }
                            }

                            .remove-button {
                                display: initial;
                                animation: fade .5s linear;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: $width-right-panel-min;

        >.header {
            display: flex;
            justify-content: space-between;
            background-color: $color-foreground;
            padding: $spacing-small $spacing-medium;

            .entry-actions {
                display: flex;
                align-items: flex-end;

                .select-input {
                    width: $width-entry-select-input;
                }

                >* {
                    margin-right: $spacing-small;
                }
            }

            .action-buttons {
                .goto-link {
                    @extend %button-like-link;
                    background-color: $color-primary;
                    color: $color-text-on-primary;
                }

                .save-button {
                    margin-left: $spacing-medium;
                }
            }
        }

        .container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: $color-background-alt;
            padding: $spacing-small;

            .grid-layout {
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: auto;

                :global {
                    .grid-item {
                        @extend %grid-item;
                    }
                }
            }
        }
    }

    .entry-list {
        height: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

