@import '../../../stylesheets/base';

.region-map {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }

    .map-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 100%;

        .geo-json-map {
            flex-grow: 1;
        }

        .bottom-bar {
            flex-shrink: 0;
            border-top: $width-separator-thin solid $color-separator;
        }

        .refresh-button {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 1;
        }
    }
}
