@import '../../../../stylesheets/base';

.add-lead-form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: $width-separator-medium solid $color-separator;
    padding: $spacing-large;

    .header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing-medium;

        .non-field-errors {
            .error {
                padding: $spacing-medium $spacing-large;
                color: $color-danger;

                &.empty {
                    color: transparent;
                    user-select: none;
                }

                &:not(:last-child) {
                    &::after {
                        content: ', ';
                    }
                }
            }
        }

        .action-buttons {
            button {
                margin-left: $spacing-medium;
                padding: $spacing-small $spacing-medium-alt;
            }
        }
    }

    .title,
    .source {
        flex-basis: calc(50% - #{$spacing-medium});
    }

    .confidentiality,
    .user,
    .date {
        flex-basis: calc(100% / 3 - #{$spacing-medium});
    }

    .url,
    .website {
        flex-basis: calc(50% - #{$spacing-medium});
    }

    .manual-entry {
        flex-basis: 100%;
        padding: $spacing-medium 0;

        .label {
            padding: $spacing-small 0;
            text-transform: uppercase;
            color: $color-label;
            font-size: $font-size-extra-small;
        }

        .textarea {
            outline: none;
            border: 0;
            border-bottom: $width-separator-medium solid $color-separator-alt;
            background-color: transparent;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            resize: vertical;

            &:focus {
                border-bottom: $width-separator-medium solid $color-accent;
            }
        }
    }

    .pending-overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: $color-background-overlay;
        width: 100%;
        height: 100%;

        .loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            animation: spin 1s linear infinite;
            width: $width-icon-super-large;
            height: $width-icon-super-large;
            color: $color-accent;
            font-size: $width-icon-super-large;
        }
    }
}
