@import '../../../../stylesheets/base';

.add-lead-form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $spacing-large;

    .header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-medium 0;

        .non-field-errors {
            .error {
                padding: $spacing-medium $spacing-large;
                color: $color-danger;

                &.empty {
                    color: transparent;
                    user-select: none;
                }

                &:not(:last-child) {
                    &::after {
                        content: ', ';
                    }
                }
            }
        }

        .action-buttons {
            button {
                margin-left: $spacing-medium;
                padding: $spacing-small $spacing-medium-alt;
            }
        }
    }

    .title,
    .source {
        flex-basis: calc(50% - #{$spacing-medium});
    }

    .confidentiality,
    .user,
    .date {
        flex-basis: calc(100% / 3 - #{$spacing-medium});
    }

    .confidentiality,
    .user {
        padding: $spacing-medium 0;
    }

    .url,
    .website {
        flex-basis: calc(50% - #{$spacing-medium});
    }

    .project {
        flex-basis: calc(100% / 3 - #{$spacing-medium});
        padding: $spacing-medium 0;
    }

    .line-break {
        flex-basis: calc(200% / 3 - #{$spacing-medium});
    }

    .text {
        flex-basis: 100%;
    }

    .file-title {
        flex-basis: 100%;
        color: $color-text;
    }

    .pending-overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 1111;
        background-color: $color-background-overlay;
        width: 100%;
        height: 100%;

        .loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            animation: spin 1s linear infinite;
            width: $width-icon-super-large;
            height: $width-icon-super-large;
            color: $color-accent;
            font-size: $width-icon-super-large;
        }
    }
}
