@import '../../../stylesheets/base';

.country-link {
    display: block;
    transition: .2s all ease-in-out;
    border-bottom: $width-separator-thin solid $color-separator;
    border-left: $width-separator-thick solid transparent;
    padding: $spacing-small;
    width: 100%;
    text-transform: capitalize;

    &:hover {
        background-color: $color-background-hover;
    }

    &.active {
        border-left: $width-separator-thick solid $color-accent;
        background-color: $color-background-selected;
    }
}
