@import '../../stylesheets/base.scss';

.organigram-with-list {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: $spacing-small $spacing-medium;

        .title {
            flex-grow: 1;
            text-transform: uppercase;
        }

        .action {
            flex-shrink: 0;
        }
    }

    .list-input {
        flex-grow: 1;
    }
}
