@import '../../stylesheets/base.scss';

$height-orgchart-modal: 80vh;
$width-orgchart-modal: 80%;

.organigram-with-list {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: $spacing-small $spacing-medium;

        .title {
            flex-grow: 1;
            text-transform: uppercase;
        }

        .action {
            flex-shrink: 0;
        }
    }

    .list-input {
        flex-grow: 1;
    }
}

.orgchart-modal {
    width: $width-orgchart-modal;
    height: $height-orgchart-modal;

    .body {
        display: flex;
        flex-direction: column;

        .orgchart {
            flex-grow: 1;
        }
    }
}
