@import '../../../stylesheets/base';

%ngram-selects {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-top: $width-separator-medium solid $color-separator;
    background-color: $color-foreground;

    .heading {
        padding: $spacing-small $spacing-medium;
    }

    .ngram-select-list {
        padding: $spacing-small $spacing-medium;

        .ngram-select {
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-small $spacing-medium;
            font-family: inherit;

            &.active {
                @include background-color($color-accent);
            }
        }
    }
}

.property-panel {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    border-left: $width-separator-medium solid $color-separator;
    background-color: $color-foreground;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator;
        padding: $spacing-small 0;

        .heading {
            padding: 0 $spacing-medium;
        }

        .action-buttons {
            padding: 0 $spacing-medium;
        }
    }

    .properties {
        flex-shrink: 0;
        padding: $spacing-medium;

        textarea {
            resize: none;
        }

    }

    .ngrams {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .ngram-selects {
            @extend %ngram-selects;
        }

        .ngram {
            flex-grow: 1;
        }

        >.action-buttons {
            flex-shrink: 0;
            padding: $spacing-small;
            text-align: right;
        }
    }

    .empty {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        color: $color-text-disabled;
    }
}
