@import '../../../stylesheets/base';
@import '../../../stylesheets/matrix-2d-overview-table';

.list {
    width: 100%;
    height: 100%;
    overflow: auto;

    .tag-unit {
        display: flex;
        background-color: $color-background-row;
        padding: $spacing-small;

        &:nth-child(even) {
            background-color: $color-background-row-alt;
        }

        .tag-dimension {
            flex-basis: 50%;
            align-self: center;

            .dimension-title {
                color: $color-accent;
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
            }

            .subdimension-title {
                font-size: $font-size-medium;
            }
        }

        .tag-sector {
            flex-basis: 50%;

            .title {
                margin-bottom: $spacing-small;
                font-weight: $font-weight-bold;
            }
        }
    }
}

.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table {
        @extend %matrix-2d-overview-table;
    }
}
