@import '../../../stylesheets/base';
@import '../../../stylesheets/matrix-2d-overview-table';

.tagging-matrix-2d-overview {
    .table {
        @extend %matrix-2d-overview-table;
    }
}

.matrix-2d-list {
    padding: $spacing-small;

    .list {
        width: 100%;
        overflow-y: auto;

        .tag-unit {
            display: flex;
            padding-bottom: $spacing-extra-small;

            .tag-dimension {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                font-weight: $font-weight-bold;

                .tag-sub-dimension {
                    font-weight: $font-weight-normal;
                }
            }

            .tag-sector {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;

                .tag-sector-select {
                    padding: 0 $spacing-extra-small;
                    width: 160px;
                }
            }
        }
    }
}
