$color-dummy: #222;
$color-white: #fff;

.app {
    text-align: center;

    .header {
        background-color: $color-dummy;
        padding: 20px;
        height: 150px;
        color: $color-white;
    }

    .title {
        font-size: large;
    }

    .intro {
        font-size: small;
    }
}

