.list {
    display: flex;
    flex-direction: column;
    background-color: $color-background-alt;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
        width: 100%;

        .action-buttons {
            .primary-link-button {
                @extend %button-like-link;
                @include background-color($color-primary);
            }

            .save-button {
                margin-left: $spacing-medium;
            }
        }
    }

    .no-entry-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .entry-list {
        flex-grow: 1;
        overflow: auto;

        .entry {
            display: inline-block;
            background-color: $color-background-row;

            .apply-buttons {
                display: flex;

                .apply-button {
                    margin: 0;
                    padding: 0 $spacing-extra-small;
                }
            }

            :global {
                .grid-item {
                    @extend %grid-item;

                    .header {
                        border: 0;
                        // background-color: transparent;
                    }

                    .content {
                        border: 0;
                        // background-color: transparent;
                    }
                }
            }

            &:nth-child(even) {
                background-color: $color-background-row-alt;
            }
        }
    }
}
