@import '../../stylesheets/base';

.home-screen {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-foreground-alt;

    .deep-logo {
        margin: 0 0 $spacing-large;
        width: 256px;
        height: 256px;

        path {
            fill: $color-primary;
        }
    }

    p {
        text-align: center;
        line-height: 2;
        font-size: $font-size-large;

        .welcome-message {
            margin-bottom: $spacing-large;
            font-size: $font-size-super-large;

            strong {
                font-weight: $font-weight-bold;
            }
        }
    }

    a {
        cursor: pointer;
        color: $color-accent;
        font-size: $font-size-large;
    }
}
