@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    h3 {
        padding: $spacing-large;
        padding-bottom: 0;
    }
}
