@import '../../stylesheets/base';
@import '../../stylesheets/grid-item';

.entries-view {
    @extend %main-content;
    display: flex;
    position: relative;
    flex-direction: column;

    :global {
        .entries-filters {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: flex-end;
            border-bottom: $width-separator-thin solid $color-separator;
            background-color: $color-foreground;
            padding: $spacing-small;

            .entries-filter,
            .select-input {
                margin: $spacing-small;

                &.flat-select-input {
                    margin: 0;
                }
            }

            .range-filter {
                display: flex;
                justify-content: space-between;
                margin: 0;

                .single-select-input {
                    margin: $spacing-small;
                }
            }

            >.button {
                flex-shrink: 0;
                margin: $spacing-small;
            }
        }
    }

    .loading-animation {
        position: relative;
        flex-grow: 1;
        width: 100%;
    }

    .lead-entries {
        position: relative;
        flex-grow: 1;
        overflow: auto;

        .lead-grouped-entries {
            line-height: 0;

            .header {
                display: flex;
                position: sticky;
                top: 0;
                justify-content: space-between;
                z-index: 11;
                border-bottom: $width-separator-thin solid $color-separator-alt;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium-alt;
                line-height: initial;

                .heading {
                    text-transform: none;
                    font-weight: $font-weight-medium;
                }

                .detail {
                    margin: $spacing-small 0;

                    span {
                        margin-right: $spacing-small;
                    }
                }
            }

            .entries {
                display: inline-block;
                line-height: initial;

                .entry {
                    border-bottom: $width-separator-thin solid $color-separator-alt;
                    background-color: $color-background-row;
                    min-width: 100%;

                    :global {
                        .grid-item {
                            @extend %grid-item;

                            .header {
                                border: 0;
                            }

                            .content {
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-small;
    }
}
