@import '../../../stylesheets/base';

.home-screen {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - #{$height-navbar});

    p {
        flex-basis: 100%;
        margin: $spacing-extra-large 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 42px;
    }

    h2 {
        flex-basis: 100%;
        margin-bottom: $spacing-extra-large;
        text-align: center;
    }

    img {
        margin: $spacing-super-large 0;
        width: 400px;
        height: 400px;
    }

    a {
        &:hover {
            font-weight: $font-weight-normal;
        }
    }

    .icon {
        margin-left: $spacing-medium;
    }

    >div {
        flex-basis: 50%;
        padding: $spacing-extra-large;
    }

    .image-input {
        :global .image-input-preview {
            height: 500px;
        }
    }
}
