@import '../../../stylesheets/base';

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - #{$height-navbar});

    .deep-logo {
        margin: 0 0 $spacing-large;
        width: 256px;
        height: 256px;
    }

    p {
        text-align: center;
        line-height: 2;
        font-size: $font-size-large;

        .welcome-message {
            margin-bottom: $spacing-large;
            font-size: $font-size-super-large;

            strong {
                font-weight: $font-weight-bold;
            }
        }
    }

    a {
        cursor: pointer;
        color: $color-accent;
        font-size: $font-size-large;
    }
}
