@import '../../../stylesheets/base';

.home-screen {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - $height-navbar);
    font-size: 5em;

    p {
        flex-basis: 100%;
        text-align: center;
    }
}
