.overview {
    @extend %page;

    .content {
        display: flex;

        .widget-list {
            @extend %widget-list;
            border-right: $width-separator-thin solid $color-separator;
            width: 30%;
        }

        .grid-layout-container {
            background-color: $color-background-alt;
            width: 70%;

            .scroll-wrapper {
                width: 100%;
                height: 100%;
                overflow: auto;

                .grid-layout {
                    min-width: 100%;
                    min-height: 100%;

                    :global {
                        .grid-item {
                            @extend %grid-item;
                        }
                    }
                }
            }
        }
    }
}
