.overview {
    @extend %page;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-grow: 1;
        align-items: stretch;

        .widget-list {
            @extend %widget-list;
            flex-basis: 30%;
            border-right: $width-separator-thin solid $color-separator;
        }

        .grid-layout-wrapper {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;
            background-color: $color-background-alt;
            padding: $spacing-small;

            .grid-layout {
                flex-grow: 1;
                overflow: auto;

                :global .grid-item {
                    @extend %grid-item;
                }
            }
        }
    }
}
