@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.groups {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
        height: $height-navbar;
    }

    .usergroup-table {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;

        .link {
            padding: 0 $spacing-medium;
        }
    }
}
