@import '../../stylesheets/base';

.leads {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-foreground;
        padding: $spacing-small;

        .add-lead-link {
            @extend %button-like-link;
            @include background-color($color-primary);
            align-self: flex-end;
            flex-shrink: 0;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .table-container {
        position: relative;
        flex-grow: 1;
        background-color: $color-background-row;
        overflow-y: auto;

        .leads-table {
            .header {
                position: sticky;
                top: 0;
            }

            .status {
                position: relative;
                text-transform: capitalize;

                .mark-button {
                    @include transition-medium;
                    display: flex;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(20%, -50%);
                    opacity: 0;

                    >* {
                        flex-shrink: 0;
                    }
                }

            }


            .confidentiality {
                text-transform: capitalize;
            }

            .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-size-large;

                a {
                    color: $color-accent;
                }
            }

            :global {
                .row {
                    &:hover {
                        .mark-button {
                            transform: translate(0%, -50%);
                            opacity: 1;
                        }
                    }
                }

                .attachmentMimeType {
                    width: 64px;
                }

                .title {
                    width: 30%;
                }

                .actions {
                    width: 150px;
                }
            }
        }
    }

    .viz-container {
        display: grid;
        flex-grow: 1;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium-alt;

        .pager {
            display: flex;
            justify-content: center;
        }

        .link-container {
            display: flex;

            .link {
                @extend %button-like-link;
                @include background-color($color-accent);
            }
        }
    }
}
