@import '../../stylesheets/base';
@import '../../vendor/react-store/stylesheets/input-label';

.leads {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-foreground;
        padding: $spacing-small;

        .add-lead-link {
            @extend %button-like-link;
            @include background-color($color-primary);
            align-self: flex-end;
            flex-shrink: 0;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .table-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        background-color: $color-background-row;

        .scroll-wrapper {
            flex-grow: 1;
            overflow: auto;

            .leads-table {
                .header {
                    position: sticky;
                    top: 0;
                }

                .status,
                .confidentiality {
                    text-transform: capitalize;
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $font-size-large;

                    a {
                        color: $color-accent;
                    }
                }

                :global {
                    .attachmentMimeType {
                        width: 64px;
                    }

                    .title {
                        width: 40%;
                    }

                    .actions {
                        width: 180px;
                    }

                    .created_at {
                        width: 150px;
                    }

                    .confidentiality,
                    .status,
                    .published_on {
                        width: 100px;
                    }

                    .no_of_entries {
                        width: 80px;
                    }

                    .created_at,
                    .published_on,
                    .no_of_entries {
                        align-items: right;
                        justify-content: right;
                        text-align: right;
                    }

                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium-alt;

        .pager {
            display: flex;
            justify-content: center;
        }

        .link-container {
            display: flex;
            align-items: baseline;

            .link {
                @extend %button-like-link;
                @include background-color($color-accent);
            }

            .label {
                @extend %input-label;
                margin: 0 $spacing-small;
                width: auto;
            }

            .leads-per-page-input {
                width: 46px;
            }
        }

        .pager-container {
            display: flex;
        }
    }
}
