@import '../../../../stylesheets/base';

$width-action-buttons: 48px;
$height-center: 240px;
$height-bottom: 180px;

.methodology {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground-alt;

    >.header {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-small;

        .non-field-errors {
            flex-grow: 1;
            padding: 0;
        }

        .action-buttons {
            flex-shrink: 0;
        }
    }

    .center {
        display: flex;
        flex-shrink: 0;
        border-top: $width-separator-thin solid $color-separator;
        height: $height-center;

        %content {
            flex-basis: calc(100% / 4);

            &:not(:last-child) {
                border-right: $width-separator-thin solid $color-separator;
            }
        }

        .focuses {
            @extend %content;
        }

        .sectors {
            @extend %content;
        }

        .affected-groups {
            @extend %content;
        }

        .location-selection {
            @extend %content;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-top: $width-separator-thin solid $color-separator;
        height: $height-bottom;

        .title {
            flex-shrink: 0;
            padding: $spacing-small $spacing-medium;
            text-transform: uppercase;
        }

        .body {
            display: flex;
            flex-grow: 1;

            .methodology-content {
                flex-basis: calc(100% / 4 - #{$spacing-medium});
                padding: 0 $spacing-medium;

                :global .input {
                    height: 100%;
                }
            }
        }
    }

    .scroll-wrap {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: scroll;

        .attributes {
            display: table;
            padding: 0;
            width: 100%;

            %cell {
                display: table-cell;
                padding: $spacing-small $spacing-medium;

                &:not(:last-child) {
                    border-right: $width-separator-thin solid $color-separator;
                }
            }

            %action-buttons {
                @extend %cell;
                width: $width-action-buttons;
            }

            >.header {
                @include background-color($color-background-header);
                display: table-row;

                .title {
                    @extend %cell;
                    @include background-color($color-background-header);
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    border-top: $width-separator-thin solid $color-separator-alt;
                    border-bottom: $width-separator-thin solid $color-separator-alt;
                    text-transform: uppercase;
                }

                .action-buttons {
                    @extend %action-buttons;
                    @include background-color($color-background-header);
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    border-top: $width-separator-thin solid $color-separator-alt;
                    border-bottom: $width-separator-thin solid $color-separator-alt;
                }
            }

            .row {
                @extend %background-alternating-row;
                display: table-row;

                .cell {
                    @extend %cell;
                }

                .action-buttons {
                    @extend %action-buttons;
                }
            }
        }
    }
}

