@import '../../../../stylesheets/base';

$width-action-buttons: 48px;
$height-bottom: 320px;

.methodology {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground-alt;

    .overview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > .header {
            @include background-color($color-background-header);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium;
        }

        .scroll-wrapper {
            @include background-color($color-background-row);
            flex-grow: 1;
            overflow: auto;

            .content {
                display: table;
                width: 100%;

                %cell {
                    display: table-cell;
                    padding: $spacing-small $spacing-medium;

                    &:not(:last-child) {
                        border-right: $width-separator-thin solid $color-separator;
                    }
                }

                %action-buttons {
                    @extend %cell;
                    width: $width-action-buttons;
                }

                .header {
                    display: table-row;

                    .title {
                        @extend %cell;
                        @include background-color($color-background-header);
                        position: sticky;
                        top: 0;
                        z-index: 1;
                        border-bottom: $width-separator-thin solid $color-separator-alt;
                        text-transform: uppercase;
                    }

                    .action-buttons {
                        @extend %action-buttons;
                        @include background-color($color-background-header);
                        position: sticky;
                        top: 0;
                        border-bottom: $width-separator-thin solid $color-separator-alt;
                    }
                }

                .row {
                    @extend %background-alternating-row;
                    display: table-row;

                    .cell {
                        @extend %cell;
                    }

                    .action-buttons {
                        @extend %action-buttons;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-shrink: 0;
            justify-content: space-evenly;
            height: $height-bottom;

            .affected-groups {
                padding: 0 $spacing-medium;

                .header {
                    display: flex;
                    align-items: center;
                    justify-content: space-betweeen;
                    text-transform: uppercase;
                }
            }

            .location-selection {
                padding: 0;
            }

            .additional-document {
                padding: $spacing-small $spacing-medium;
            }
        }
    }
}

