@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';


.methodology {
    background-color: $color-foreground-alt;
    padding: $spacing-medium;

    .overview {
        display: flex;
        flex-direction: column;

        .fields {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .field-title {
                display: flex;
                margin-bottom: $spacing-large;

                h3 {
                    flex-basis: 16%;
                    margin-right: $spacing-large;
                    border-bottom: $width-separator-thin solid $color-separator;
                }

                .pusher {
                    flex-basis: 3%;
                }
            }

            .field-values {
                display: flex;
                flex-basis: 100%;
                flex-direction: column;

                >div {
                    display: flex;
                    flex-grow: 1;

                }
            }
        }

        .action-buttons {
            display: flex;
        }
    }
}


.values {
    display: flex;

    .field-inputs {
        flex-basis: 16%;
        margin-right: $spacing-large;
    }

    .remove-button {
        flex-basis: 3%;
    }
}
