@import '../../../stylesheets/base';

.doc {
    border: none;
}

.error-website-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: $color-danger;
    padding: $spacing-medium;

    .url {
        display: inline-block;
        color: $color-accent;
        text-transform: lowercase;
    }
}

.loading-animation {
    display: inline-block;
    animation: spin 1s linear infinite;
}

.waiting-text {
    color: $color-text-disabled;
}

.pending-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
