@import '../../../stylesheets/base';

.doc {
    border: none;
}

.iframe {
    .urlbar {
        display: flex;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;

        .url {
            display: flex;
            flex-grow: 1;
            align-items: center;

            :global .input {
                border: $width-separator-thin solid $color-separator;
                border-radius: 3px;
                background-color: $color-foreground;
                padding: $spacing-small $spacing-extra-small;
            }
        }

        .action-buttons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: $spacing-small;

            .open-link {
                @extend %transparent-button-like-link;
                color: $color-accent;
            }
        }
    }
}

.error-website-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: $color-danger;
    padding: $spacing-medium;

    .url {
        display: inline-block;
        color: $color-accent;
        text-transform: lowercase;
    }
}

.loading-animation {
    display: inline-block;
    animation: spin 1s linear infinite;
}

.waiting-text {
    color: $color-text-disabled;
}

.pending-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
