@import '../../../stylesheets/base';

.entries {
    display: flex;
    position: relative;
    flex-direction: column;
    height: calc(100vh - #{$height-navbar});

    .filters {
        flex-shrink: 0;
        padding: $spacing-large;
    }

    .lead-entries-list {
        flex-grow: 1;
        padding: $spacing-medium-alt;
        overflow-y: auto;

        .lead-entries {
            @include shadow-large;
            margin-bottom: $spacing-large;

            .header {
                display: flex;
                justify-content: space-between;
                border-bottom: $width-separator-medium solid $color-separator;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium-alt;

                p {
                    margin: $spacing-small 0;

                    span {
                        margin-right: $spacing-small;
                    }
                }
            }

            .entry {
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-foreground-white;

                .grid-layout {
                    min-height: 100%;
                    overflow-y: hidden;
                    overflow-x: auto;

                    :global .grid-item {
                        .header {
                            display: flex;
                            flex-shrink: 0;
                            align-items: flex-end;
                            justify-content: space-between;
                            background-color: transparent;
                            height: 18px;

                            .heading {
                                background-color: transparent;
                                padding: 0;
                                font-size: $font-size-small;
                            }
                        }

                        .content {
                            flex-grow: 1;
                            background-color: transparent;
                            padding: 0;
                            height: calc(100% - 32px);
                        }
                    }
                }

                &:nth-child(even) {
                    background-color: $color-foreground;
                }
            }
        }
    }
}
