@import '../../../stylesheets/base';

.entries {
    padding: $spacing-medium-alt;

    .entry-list {
        .entry {
            .grid-layout {
                min-height: 100%;
                overflow-y: hidden;
                overflow-x: auto;
            }
        }
    }
}
