@import '../../stylesheets/base';

.api-docs {
    @extend %main-content;
    overflow-y: auto;

    .message {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .docs {
        h1 {
            background-color: $color-foreground;
            padding: $spacing-medium;
        }

        .api {
            h2 {
                background-color: $color-foreground-alt;
                padding: $spacing-medium;
            }

            .endpoint {
                background-color: $color-background-row-alt;

                &:nth-child(odd) {
                    background-color: $color-background-row;
                }

                h3 {
                    width: 100%;
                    height: 100%;

                    button {
                        outline: 0;
                        border: 0;
                        background-color: transparent;
                        cursor: pointer;
                        padding: $spacing-small-alt;
                        width: 100%;
                        height: 100%;
                        text-align: start;
                        color: inherit;
                        font-family: inherit;
                        font-size: inherit;
                    }
                }

                .method {
                    margin: $spacing-extra-small-alt;
                    background-color: $color-background-row-alt;
                    padding: $spacing-medium-alt;

                    h4 {
                        text-transform: inherit;
                        color: $color-accent;
                        font-family: $font-family-monospace;
                    }

                    .path {
                        font-family: $font-family-monospace;
                    }

                    .schema {
                        margin: 8px 0;
                        background-color: $color-background-header;

                        h5 {
                            background-color: $color-background-header-alt;
                            padding: 8px;
                            width: 100%;
                            text-transform: inherit;
                            font-size: 1em;
                            font-weight: $font-weight-normal;
                        }

                        pre {
                            margin: 0;
                            padding: 8px;
                            line-height: 2em;
                            color: inherit;
                        }
                    }
                }

                .methods-container {
                    display: none;
                }

                &.expanded {
                    .methods-container {
                        display: inherit;
                    }
                }
            }
        }
    }
}
