@import '../../../../stylesheets/base';

.summary {
    display: flex;
    height: 100%;

    .view {
        flex-grow: 1;
    }

    .tabs {
        flex-basis: 20%;
        flex-shrink: 0;
        border-left: $width-separator-thin solid $color-separator;
        padding: $spacing-medium 0;
    }
}
