@import '../../../../stylesheets/base';

.categories {
    display: flex;
    flex-direction: column;
    padding: $spacing-large;

    h2 {
        flex-shrink: 0;
        border-bottom: $width-separator-medium solid $color-separator;
        padding: $spacing-small;
        font-weight: $font-weight-medium;
    }

    .category-group {
        display: flex;
        padding: $spacing-large 0;
        overflow-y: auto;

        .sub-categories,
        .sub-sub-categories {
            display: flex;
            flex-direction: column;
            margin-right: $spacing-large;
            border: $width-separator-medium solid $color-separator;
            padding: $spacing-large;
            width: 20%;
            height: 100%;

            >* {
                margin-bottom: $spacing-large;
            }

            .clicked {
                border-radius: $width-separator-thick;
                background-color: $color-primary;
                cursor: pointer;
                padding: $spacing-small;
                text-align: center;
                color: $color-text-on-primary;
                user-select: none;

                &:active {
                    @include shadow-small;
                    transform: translateY(1px);
                }
            }

            .sub-category,
            .not-clicked,
            .add-button,
            .sub-sub-category {
                border-radius: $width-separator-thick;
                cursor: pointer;
                padding: $spacing-small;
                text-align: center;
                user-select: none;

                &:hover {
                    background-color: $color-background-hover;
                }

                &:focus {
                    background-color: $color-primary;
                }

                &.active {
                    background-color: $color-primary;
                    color: $color-text-on-primary;
                }
            }

        }

    }
}
