@import '../../../../stylesheets/base';

.right {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    background-color: $color-foreground;
    height: calc(100vh - #{$height-navbar} - #{$spacing-medium-alt * 2});

    .header {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: $spacing-large;
        width: 100%;

        .search-category {
            flex-basis: 30%;
        }

        .pusher {
            flex-basis: 60%;
        }

        .add-category-btn {
            flex-basis: 12%;
        }
    }

    .categories {
        display: flex;
        flex-direction: column;
        padding: $spacing-large;

        .category-group {
            display: flex;
            padding-bottom: $spacing-large;
            overflow-y: auto;

            .sub-categories,
            .sub-sub-categories {
                display: flex;
                flex-basis: 20%;
                flex-wrap: wrap;
                margin-right: $spacing-large;
                border: $width-separator-medium solid $color-separator;
                padding: $spacing-large $spacing-small;
                padding-left: $spacing-large;
                height: 100%;

                .sub-group {
                    display: flex;
                    flex-basis: 100%;
                    margin-bottom: $spacing-small;
                    padding: $spacing-medium 0;
                    text-transform: uppercase;

                    .sub-category,
                    .not-clicked,
                    .sub-sub-category {
                        flex-basis: 70%;
                        border-radius: $width-separator-thick;
                        cursor: pointer;
                        padding: $spacing-small;
                        text-align: center;
                        user-select: none;

                        &:hover {
                            background-color: $color-background-hover;
                        }

                        &:focus {
                            background-color: $color-primary;
                        }

                        &.active {
                            @include shadow-small;
                            background-color: $color-primary;
                            color: $color-text-on-primary;
                        }

                    }


                    .icon-btn {
                        display: flex;
                        flex-basis: 5%;

                        :global .ion-chevron-right {
                            flex-basis: 10%;
                            margin-left: $spacing-extra-large;
                            padding: $spacing-small;
                        }

                        :global .ion-edit {
                            margin-left: $spacing-medium-alt;
                            cursor: pointer;
                            padding: $spacing-small $spacing-medium;

                            &:hover {
                                background-color: $color-background-hover;
                            }

                            &:active {
                                @include shadow-small;
                                transform: translateY(1px);
                            }
                        }

                        :global .ion-android-delete {
                            cursor: pointer;
                            padding: $spacing-small $spacing-medium;
                            color: $color-danger;

                            &:hover {
                                background-color: $color-background-hover;
                            }

                            &:active {
                                @include shadow-small;
                                transform: translateY(1px);
                            }
                        }
                    }

                }

                .add-button {
                    flex-basis: 70%;
                    border-radius: $width-separator-thick;
                    cursor: pointer;
                    padding: $spacing-small;
                    text-align: center;
                    user-select: none;

                    &:hover {
                        background-color: $color-background-hover;
                    }

                    &.active {
                        @include shadow-small;
                    }
                }

                .hidden {
                    display: none;
                }
            }
        }
    }


}

.edit-modal-category {
    :global .modal-content {
        width: 40vw;
    }
}

.pending-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: $color-background-overlay;
    width: 100%;
    height: 100%;

    .loading-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: spin 1s linear infinite;
        width: $width-icon-super-large;
        height: $width-icon-super-large;
        color: $color-accent;
        font-size: $width-icon-super-large;
    }

}

.action-buttons {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: $spacing-large;

    >* {
        margin: 0 $spacing-small;
    }
}
