@import '../../../../stylesheets/base';

.header {
    display: flex;
    align-items: center;

    .heading {
        flex-shrink: 0;
        padding: 0 $spacing-medium;
    }

    .non-field-errors {
        flex-grow: 1;
        padding: 0 $spacing-medium;
        text-align: center;
    }
}
