@import '../../../../stylesheets/base';

.members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-medium $spacing-large;

        .search-input {
            flex-basis: 20%;
        }

        .pusher {
            flex-grow: 1;
        }

        .add-button {
            margin-right: $spacing-medium-alt;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;
    }
}
