@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: members;

    >.header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: $spacing-medium;

        h2 {
            flex-basis: 20%;
        }

        .pusher {
            flex-grow: 1;
        }

        .search-input {
            flex-basis: 15%;
            align-self: flex-end;
            margin: 0 $spacing-medium;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;

        :global .header {
            position: sticky;
            top: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;
            user-select: none;

            &:not(.actions) {
                cursor: pointer;

                &:hover {
                    background-color: $color-background-hover;
                }
            }
        }
    }
}

.add-member-modal {
    display: flex;
    flex-direction: column;

    :global {
        .modal-content {
            height: 60vh;

            .modal-body {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .add-member {
        flex-grow: 1;
    }
}
