@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: members;

    >.header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: $spacing-small $spacing-medium;
        height: $height-navbar;

        >* {
            flex-shrink: 0;
        }

        .pusher {
            flex-grow: 1;
        }

        .search-input {
            margin: 0 $spacing-medium;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;
    }
}

.add-member-modal {
    display: flex;
    flex-direction: column;
    height: 600px;

    .add-member {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
