@import '../../../stylesheets/base';

.list {
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
    }

    .selected-organs {
        flex-grow: 1;
        overflow: auto;

        .organ {
            display: flex;
            padding: 0 $spacing-small;

            .marker {
                flex-shrink: 0;
                align-self: flex-start;
                padding-right: $spacing-small;
                color: $color-text-label;
            }

            .label {
                flex-grow: 1;
            }
        }
    }
}

$width-modal: 80vw;
$height-modal: 80vh;

.org-chart-modal {
    width: $width-modal;
    height: $height-modal;

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .header {
            padding: 0 $spacing-small;
        }

        :global {
            .responsive-wrapper {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .org-chart-wrapper {
                    flex-grow: 1;
                }
            }
        }
    }
}

