.list {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground-alt;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        z-index: 11;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
        width: 100%;

        .action-buttons {
            .primary-link-button {
                @extend %button-like-link;
                background-color: $color-primary;
                color: $color-text-on-primary;
            }

            .save-button {
                margin-left: $spacing-medium;
            }
        }
    }

    .no-entry-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .entry-list {
        flex-grow: 1;
        background-color: $color-background;
        overflow-y: auto;

        .entry {
            @include shadow-small;
            margin-bottom: $spacing-small;
            background-color: $color-foreground;
            padding: $spacing-medium;


            .apply-buttons {
                display: flex;

                .apply-button {
                    margin: 0;
                    padding: 0 $spacing-extra-small;
                }
            }

            :global .grid-item {
                border: $width-separator-thin solid $color-separator;
                border-style: dotted;

                .header {
                    display: flex;
                    flex-shrink: 0;
                    align-items: flex-end;
                    justify-content: space-between;
                    border-bottom: $width-separator-thin solid $color-separator;
                    background-color: transparent;
                    height: 18px;
                    color: $color-primary;

                    .heading {
                        margin-bottom: $spacing-extra-small;
                        margin-left: $spacing-extra-small;
                        background-color: transparent;
                        padding: 0;
                        font-size: $font-size-small;
                        font-weight: $font-weight-bold;
                    }
                }

                .content {
                    flex-grow: 1;
                    background-color: transparent;
                    padding: $spacing-small;
                    height: calc(100% - 32px);
                }
            }

            &:nth-child(even) {
                background-color: $color-background-header;
            }
        }
    }
}
