@import '../../../../stylesheets/base';

.edit-entry {
    position: relative;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    :global .responsive-wrapper {
        height: 100%;
    }

    %grid-item {
        .header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;

            .heading {
                font-size: $font-size-small;
            }
        }

        .content {
            flex-grow: 1;
            padding: $spacing-medium;
            height: calc(100% - 32px);
        }
    }

    .overview {
        display: flex;
        flex-direction: column;
        height: 100%;

        >.header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            z-index: 11;
            border-bottom: $width-separator-thin solid $color-separator;
            background-color: $color-background-header;
            padding: $spacing-small $spacing-medium;
            width: 100%;

            .entries-list-btn {
                &.active {
                    color: $color-accent;
                }
            }

            .entry-actions {
                display: flex;

                >* {
                    margin-right: $spacing-small;
                }
            }

            .action-buttons {
                .save-button {
                    margin-left: $spacing-medium;
                }
            }
        }

        .container {
            display: flex;
            flex-grow: 1;

            .left {
                position: relative;
                flex-basis: 30%;
                background-color: $color-foreground;


                .lead-preview {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    border-top: $width-separator-medium solid $color-separator;
                    overflow-y: auto;
                    width: 100%;
                    height: 100%;

                    .gallery-file {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        iframe {
                            flex-grow: 1;
                        }
                    }

                    .preview-text {
                        display: flex;
                        margin: auto;

                        h1 {
                            color: $color-text-disabled;
                            font-weight: $font-weight-medium;
                        }
                    }
                }

                .entries-list-container {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $color-foreground;
                    width: 100%;
                    height: 100%;

                    &.active {
                        display: flex;
                        overflow-y: auto;
                    }

                    .entries-list {
                        flex-grow: 1;

                        .pending,
                        .error,
                        .complete,
                        .stale {
                            flex-shrink: 0;
                            margin: 0;
                            padding: 0;
                            color: $color-label;
                            font-size: $font-size-medium-alt;
                        }

                        .pending {
                            animation: spin 1s linear infinite;
                        }

                        .error {
                            color: $color-danger;
                        }

                        .complete {
                            color: $color-success;
                        }



                        :global .list-item {
                            transition: .2s all ease-in-out;
                            border-bottom: $width-separator-thin solid $color-separator;
                            border-left: $width-separator-thick solid transparent;
                            padding: 0;

                            .button {
                                display: flex;
                                justify-content: space-between;
                                outline: 0;
                                border: 0;
                                background-color: transparent;
                                cursor: pointer;
                                padding: $spacing-medium $spacing-large;
                                width: 100%;
                                text-align: left;
                                font-family: inherit;
                                font-size: inherit;

                            }

                            &.active {
                                border-left: $width-separator-thick solid $color-accent;
                                background-color: $color-hover;
                            }

                            &:hover {
                                background-color: $color-hover;
                            }
                        }

                    }
                }
            }

            .right {
                position: relative;
                flex-basis: 70%;
                background-color: $color-foreground-alt;
                overflow-y: auto;

                .grid-layout {
                    min-height: 100%;
                    overflow-y: hidden;
                    overflow-x: auto;

                    .grid-item {
                        @extend %grid-item;
                    }
                }
            }
        }

        .entry-list {
            height: 100%;
        }
    }

    .list {
        background-color: $color-foreground-alt;
        height: 100%;
        overflow-y: auto;

        >.header {
            display: flex;
            position: sticky;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: space-between;
            z-index: 11;
            background-color: $color-foreground;
            padding: $spacing-medium $spacing-medium-alt;
            width: 100%;

            .action-buttons {
                >* {
                    margin-left: $spacing-medium;
                }
            }
        }

        .entry-list {
            .entry {
                border-bottom: $width-separator-medium solid $color-separator;

                .grid-layout {
                    .grid-item {
                        @extend %grid-item;
                    }
                }
            }
        }
    }
}

:global {
    #select-options-container {
        z-index: 11;
    }

    .react-grid-layout {
        position: relative;
    }

    .react-grid-item {
        position: relative;
        transition: transform .1s ease;
        z-index: 10;
        border: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        will-change: transform, box-shadow;

        &.resizing {
            transition: none;
            opacity: .5;
            will-change: width, height, opacity;
        }

        .react-resizable-handle {
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: bottom right;
            cursor: se-resize;
            padding: 0 3px 3px 0;
            width: 20px;
            height: 20px;
            background-origin: content-box;
        }
    }

    .react-draggable-dragging {
        @include shadow-large;
        transition: none;
        z-index: 11;
        will-change: transform;
    }

    .react-grid-placeholder {
        transition: all .1s linear;
        z-index: 1;
        border: $width-separator-medium dashed $color-separator-alt;
        background-color: transparent;
        user-select: none;
    }
}
