@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';

.tabs-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;

    .tabs-content {
        display: flex;
        flex-direction: column;

        .tab {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}

.edit-entry {
    position: relative;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    %grid-item {
        .header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;

            .heading {
                font-size: $font-size-small;
            }
        }

        .content {
            flex-grow: 1;
            padding: $spacing-medium;
            height: calc(100% - 32px);
        }
    }

    @import './overview';
    @import './list';
}

:global {
    #select-options-container {
        z-index: 11;
    }
}
