@import '../../stylesheets/base';

.msgbox {
    margin: $spacing-small;
    padding: $spacing-small;
    border-radius: 3px;
    color: $color-foreground;

    &.error {
        background-color: $color-danger;
    }

    &.warning {
        background-color: $color-warning;
    }
}
