@import '../../stylesheets/base';

$width-left-pane: 240px;
$width-error-pane: 320px;

.string-panel {
    display: flex;
    height: 100%;

    .left-pane {
        @include background-color($color-foreground-alt);
        display: flex;
        position: relative;
        flex-basis: $width-left-pane;
        flex-direction: column;
        flex-shrink: 0;
        margin: -$spacing-small $spacing-small (-$spacing-small) (-$spacing-small);
        border-right: $width-separator-thin solid $color-separator-alt;

        .header {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;
        }

        .links {
            flex-grow: 1;
            font-family: $font-family-monospace;
        }
    }

    .right-pane {
        @extend %main-content;
        @include background-color($color-background-alt);
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        >.header {
            @include background-color($color-foreground);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: $spacing-small 0;

            .inputs {
                display: flex;
                flex-grow: 1;

                .input {
                    padding: 0 $spacing-small;
                }
            }

            .action-buttons {
                flex-shrink: 0;
                padding: 0 $spacing-small;

                button {
                    margin-left: $spacing-small;
                }
            }
        }

        >.content {
            display: flex;
            position: relative;
            flex-grow: 1;

            .scroll-wrapper {
                flex-grow: 1;
                background-color: $color-background-row;
                overflow-x: auto;
                overflow-y: scroll;

                .stringsTable {
                    $width-id-column: 72px;
                    $width-refs-column: 64px;
                    $width-duplicates-column: 108px;
                    $width-string-column: calc(100% - #{$width-id-column - $width-refs-column - $width-duplicates-column});

                    :global {
                        .headers {
                            .id {
                                width: $width-id-column;
                            }

                            .refs {
                                width: $width-refs-column;
                            }

                            .duplicates {
                                width: $width-duplicates-column;
                            }
                            
                            .string {
                                width: $width-string-column;
                            }
                        }

                        .body {
                            .id,
                            .refs,
                            .duplicates {
                                font-family: $font-family-monospace;
                            }
                        }
                    }
                }

                .linksTable {
                    $width-id-column: 36%;
                    $width-refs-column: 64px;
                    $width-string-id-column: 108px;
                    $width-string-column: calc(100% - #{$width-id-column} - #{$width-refs-column - $width-string-id-column});

                    :global {
                        .headers {
                            .id {
                                width: $width-id-column;
                            }

                            .stringId {
                                width: $width-string-id-column;
                            }

                            .refs {
                                width: $width-refs-column;
                            }

                            .string {
                                width: 70%;
                            }
                        }

                        .body {
                            .id,
                            .stringId,
                            .refs {
                                font-family: $font-family-monospace;
                            }
                        }
                    }
                }
            }

            %error-pane {
                flex-basis: $width-error-pane;
                flex-shrink: 0;
                border-top: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thin solid $color-separator;
            }

            .no-problems {
                @extend %error-pane;
                height: auto;
            }

            .problems {
                @extend %error-pane;
                overflow-y: auto;

                .problem {
                    .title {
                        position: sticky;
                        top: 0;
                        padding: $spacing-small;
                        font-weight: $font-weight-bold;
                    }

                    &.error {
                        .title {
                            @include background-color($color-danger);
                        }
                    }

                    &.warning {
                        .title {
                            @include background-color($color-warning);
                        }
                    }
                }

                .instances {
                    font-family: $font-family-monospace;
                }
            }
        }
    }
}


