@import '../../../stylesheets/base';

.region-detail-view {
    @include shadow-small;
    display: table;
    position: absolute;
    bottom: $spacing-medium;
    left: $spacing-medium;
    z-index: $z-index-region-detail-view;
    border-right: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    min-width: 280px;

    .heading {
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-medium;
        color: $color-primary;
    }

    .row {
        display: table-row;

        .key {
            display: table-cell;
            padding: $spacing-extra-small $spacing-medium;
            text-transform: uppercase;
            color: $color-label;
            font-size: $font-size-small;

            &::after {
                content: ':';
            }
        }

        .value {
            display: table-cell;
            padding: $spacing-extra-small $spacing-medium;
            color: $color-text;
            font-size: $font-size-medium-alt;
        }

        &:nth-child(even) {
            background-color: $color-background-alt-row;
        }
    }
}
