@import '../../stylesheets/base';

.dashboard {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        margin: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-medium $spacing-medium-alt;
        text-transform: uppercase;
    }

    .dashboard-map {
        width: 100%;
        height: 100%;
    }
}
