@import '../../stylesheets/base';

.dashboard {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        margin: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-medium $spacing-medium-alt;
        text-transform: uppercase;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        .deep-logo {
            margin: 0 0 $spacing-large;
            width: 256px;
            height: 256px;

            path {
                fill: $color-text-disabled;
            }
        }

        .deep-text {
            margin-top: $spacing-large;
            text-transform: uppercase;
            color: $color-accent;
            font-size: $font-size-super-large;
        }
    }
}
