@import '../../stylesheets/base';

.dashboard {
    @extend %main-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-foreground-alt;

    .dashboard-map {
        width: 100%;
        height: 100%;
    }
}
