@import '../../stylesheets/base';

.no-template {
    @include background-color($color-foreground-dark);
}

.assessments {
    @extend %main-content;
    display: flex;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        width: 30%;
        height: 100%;
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}

