@import '../../stylesheets/base';

$width-left-min: 390px;
$width-right-min: 800px;

.no-template {
    @include background-color($color-foreground-dark);
}

.assessments {
    @extend %main-content;
    display: flex;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        width: 30%;
        min-width: $width-left-min;
        height: 100%;
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: $width-right-min;
    }
}

