@import '../../stylesheets/base';
@import '../../stylesheets/tabs';

$width-entry-select-input: 400px;
$width-left-panel-min: 460px;
$width-right-panel-min: 640px;

%basic-container {
    display: flex;
    border: $width-separator-thin solid $color-separator;
    height: 100%;
}

.no-ary-template {
    @extend %basic-container;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ary {
    @extend %basic-container;

    .left {
        width: 24%;
        min-width: $width-left-panel-min;
    }

    .right {
        width: 76%;
        min-width: $width-right-panel-min;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
