@import '../../../stylesheets/base';

.list {
    padding: $spacing-small;
    width: 100%;
    height: 100%;
    overflow: auto;

    .organ {
        display: flex;

        .marker {
            flex-shrink: 0;
            align-self: flex-start;
            padding-right: $spacing-small;
            color: $color-text-label;
        }

        .label {
            flex-grow: 1;
        }
    }
}

