@import '../../../../stylesheets/base';

.matrix-cell {
    flex-shrink: 0;
    margin: $spacing-extra-small;
    background-color: $color-background;
    padding: $spacing-small $spacing-medium;
    user-select: none;
}

.matrix-row {
    display: flex;
    align-items: center;
    border: $width-separator-thin solid $color-separator;

    .title {
        flex-shrink: 0;
        padding: $spacing-medium;
    }

    .cells {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .action-buttons {
        flex-shrink: 0;
    }
}

.tagging-matrix-1d {
    width: 100%;
}

%modal {
    width: 480px;

    :global .modal-body {
        height: 400px;
    }
}

.edit-cell-modal {
    @extend %modal;

    .edit-cell {
        display: flex;

        .title-input {
            flex-grow: 1;
        }

        .delete-button {
            flex-shrink: 1;
        }
    }
}

.edit-row-modal {
    @extend %modal;

    .edit-row {
        display: flex;
        align-items: center;

        .title-input {
            flex-grow: 1;
        }

        .delete-button {
            flex-shrink: 1;
        }
    }
}
