@import '../../../../../stylesheets/base';

.multiselect-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
}

.multiselect-list {
    display: flex;
    justify-content: center;
    padding: $spacing-small;
    height: 100%;

    .multiselect {
        width: 100%;
    }
}
