@import '../../../stylesheets/base';

.date-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    .date-input {
        width: 100%;
    }
}
