@import '../../stylesheets/base';

.lead-preview {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }

    .highlighted-text {
        margin: 0;
        padding: $spacing-small $spacing-medium;
        width: 100%;
        height: 100%;
        text-align: justify;
        white-space: pre-wrap;
        color: $color-text;
        font-family: inherit;
        line-height: 2;

        .highlight {
            border-radius: 3px;
            padding: $spacing-extra-small-alt 0;
            cursor: pointer;

            .text {
                padding: 0 $spacing-small;
            }

            .label {
                display: inline-block;
                transform: translateY(-1px);
                border-radius: 3px;
                padding: 0 $spacing-small;
                text-transform: uppercase;
                color: $color-label;
                font-size: $font-size-extra-small;
                font-weight: $font-weight-bold;
            }
        }
    }
}
