@import '../../../stylesheets/base';

.number-matrix-overview {
    display: flex;

    .table-header {
        @include background-color($color-foreground);
        padding: $spacing-small $spacing-medium;
    }

    .table-header-row {
        padding: $spacing-small $spacing-medium;

        &.not-similar {
            @include background-color($color-danger);
        }

        &.similar {
            @include background-color($color-success);
        }

        &.partial-similar {
            @include background-color($color-background);
        }
    }

    .table-cell {
        @include background-color($color-foreground);
        padding: $spacing-extra-small $spacing-small;

        .number-input {
            background-color: transparent;
            color: $color-text;
        }
    }
}

.list {
    width: 100%;
    height: 100%;
    overflow: auto;

    .row {
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small 0;

        .row-title {
            padding: $spacing-extra-small $spacing-small;
            color: $color-accent;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }

        .cols-container {
            .col {
                @include background-color($color-background-row);
                display: flex;
                justify-content: space-between;
                padding: $spacing-extra-small $spacing-small;

                &:nth-child(odd) {
                    @include background-color($color-background-row-alt);
                }
            }
        }
    }
}
