@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

$height-add-member-modal: 600px;

.members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: members;
    background-color: $color-background-row-alt;

    >.header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: $spacing-small $spacing-medium;
        height: $height-navbar;
        background-color: $color-background-header;

        >* {
            flex-shrink: 0;
        }

        .pusher {
            flex-grow: 1;
        }

        .search-input {
            margin: 0 $spacing-medium;
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;

        .link {
            padding: 0 $spacing-medium;
        }
    }
}

.add-member-modal {
    display: flex;
    flex-direction: column;
    height: $height-add-member-modal;

    .add-member {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
