@import '../../../stylesheets/base';

.text-input {
    background-color: transparent!important;
    padding: 0;
}

.header-title {
    display: flex;
    justify-content: space-between;

    .action-buttons {
        text-align: right;

        button {
            margin-left: $spacing-medium;
        }
    }

    .non-field-errors {
        .error {
            color: $color-danger;

            &.empty {
                color: transparent;
                user-select: none;
            }

            &:not(:last-child) {
                &::after {
                    content: ', ';
                }
            }
        }
    }
}
