@import '../../../../stylesheets/base';

.basic-information {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;

    h4 {
        flex-basis: 100%;
        margin: $spacing-small;
        font-weight: $font-weight-medium;
    }

    .search-excerpt,
    .imported-by,
    .date-imported {
        flex-basis: 33%;
        padding: $spacing-small;
    }
}
