@import '../../../stylesheets/base';

.user-profile-edit-form {
    display: flex;
    position: relative;
    flex-direction: column;

    .gallery-image {
        margin-bottom: $spacing-small;
        width: 100%;
        height: 200px;
    }

    .gallery-image-select {
        margin: auto;
        width: auto;

        // FIXME: use component props for primary styling
        :global {
            label {
                @extend %button-like-link;
                @include background-color($color-primary);
            }
        }
    }

    .display-picture {
        :global .image-input-preview {
            height: 200px;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $spacing-medium;
        }
    }
}
