@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.category-editor {
    display: flex;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    .left {
        flex-basis: 26%;
        background-color: $color-foreground;
    }

    .right {
        display: flex;
        flex-basis: 74%;
        flex-direction: column;
        background-color: $color-foreground-alt;

        >.header {
            display: flex;
            flex-shrink: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-medium;

            .category-select {
                margin-right: $spacing-medium;
            }
        }

        .content {
            display: flex;
            flex-grow: 1;

            .sub-categories {
                display: flex;
                flex-basis: 70%;
                overflow-x: auto;

                .column {
                    display: flex;
                    flex-basis: 30%;
                    flex-direction: column;
                    flex-shrink: 0;
                    border-right: $width-separator-medium solid $color-separator;

                    %button {
                        outline: 0;
                        border: 0;
                        background-color: transparent;
                        cursor: pointer;
                        padding: $spacing-medium;
                        color: $color-text;
                        font-family: inherit;
                        font-size: inherit;
                    }

                    .header {
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: $width-separator-thin solid $color-separator;

                        .heading {
                            padding: $spacing-medium;
                            color: $color-text;
                            font-weight: $font-weight-bold;
                        }

                        button {
                            @extend %button;
                            text-transform: uppercase;
                            color: $color-accent;
                        }
                    }

                    .sub-category-list {
                        flex-grow: 1;
                        overflow-y: auto;

                        .sub-category {
                            @extend %button;
                            display: flex;
                            border-bottom: $width-separator-thin solid $color-separator;
                            width: 100%;
                            text-align: left;

                            .title {
                                flex-grow: 1;
                                color: $color-text;
                            }

                            .number {
                                flex-shrink: 0;
                            }

                            &.active {
                                background-color: $color-accent;
                                color: $color-text-on-accent;

                                .title {
                                    color: $color-text-on-accent;
                                }
                            }
                        }
                    }
                }
            }

            .property-panel {
                display: flex;
                flex-basis: 30%;
                flex-direction: column;
                background-color: $color-foreground;

                .header {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: $width-separator-medium solid $color-separator;
                    padding: $spacing-small 0;

                    .heading {
                        padding: 0 $spacing-medium;
                    }

                    .action-buttons {
                        padding: 0 $spacing-medium;
                    }
                }

                .properties {
                    flex-shrink: 0;
                    border-bottom: $width-separator-medium solid $color-separator;
                    padding: $spacing-medium;

                    textarea {
                        resize: none;
                    }
                }

                .ngrams {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    .ngram-select-list {
                        display: flex;
                        flex-shrink: 0;
                        justify-content: space-between;

                        .ngram-select {
                            flex-grow: 1;
                            outline: 0;
                            border: 0;
                            border-bottom: $width-separator-medium solid $color-separator;
                            background-color: transparent;
                            cursor: pointer;
                            padding: $spacing-small $spacing-medium;
                            color: $color-text;
                            font-family: inherit;
                            font-size: inherit;

                            &.active {
                                border-bottom-color: $color-accent;
                                color: $color-accent;
                            }
                        }
                    }

                    .ngram {
                        flex-grow: 1;
                        overflow-y: auto;

                        .keyword {
                            display: flex;
                            align-items: center;
                            border-bottom: $width-separator-thin solid $color-separator;
                            padding: $spacing-small $spacing-medium;

                            .title {
                                flex-grow: 1;
                            }

                            .action-buttons {
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }

        .empty {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            color: $color-label;
        }
    }
}

%modal {
    width: 320px;

    .ok-button {
        min-width: 72px;
    }
}

.new-category-modal {
    @extend %modal;
}

.new-subcategory-modal {
    @extend %modal;
}
