@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.category-editor {
    display: flex;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    .left {
        flex-basis: 26%;
        background-color: $color-foreground;
    }

    .right {
        display: flex;
        flex-basis: 74%;
        flex-direction: column;
        background-color: $color-foreground-alt;

        .header {
            display: flex;
            flex-shrink: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-medium;
        }

        .content {
            display: flex;
            flex-grow: 1;

            .sub-categories {
                display: flex;
                flex-basis: 80%;
                overflow-x: auto;

                .column {
                    display: flex;
                    flex-basis: 30%;
                    flex-direction: column;
                    flex-shrink: 0;
                    border-right: $width-separator-medium solid $color-separator;

                    %button {
                        outline: 0;
                        border: 0;
                        background-color: transparent;
                        padding: $spacing-medium;
                        width: 100%;
                        color: $color-text;
                        font-family: inherit;
                        font-size: inherit;
                    }

                    .sub-category-list {
                        flex-grow: 1;
                        overflow-y: auto;

                        .sub-category {
                            @extend %button;
                            display: flex;
                            border-bottom: $width-separator-thin solid $color-separator;
                            text-align: left;

                            .title {
                                flex-grow: 1;
                                color: $color-text;
                            }

                            .number {
                                flex-shrink: 0;
                            }

                            &.active {
                                background-color: $color-accent;
                                color: $color-text-on-accent;

                                .title {
                                    color: $color-text-on-accent;
                                }
                            }
                        }
                    }

                    .action-buttons {
                        flex-shrink: 0;

                        button {
                            @extend %button;
                            background-color: $color-foreground;
                            text-transform: uppercase;
                            color: $color-accent;
                        }
                    }
                }
            }

            .properties {
                flex-basis: 50%;
                background-color: $color-foreground;
            }
        }
    }
}
