@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';
@import '../../../../stylesheets/modal';

.country-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        padding: $spacing-small $spacing-medium-alt;
        flex-shrink: 0;

        .header-title {
            font-size: 1.6em;
        }

        .button-container {
            font-size: inherit;

            :global .save-btn {
                margin-right: $spacing-medium;
            }
        }
    }

    .tabs-container {
        flex-grow: 1;

        .tabs-content {
            display: flex;
            flex-direction: column;

            .tab {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
    }
}

.delete-confirm-modal {
    width: 400px;

    :global .modal-header {
        .heading {
            font-size: $font-size-medium-alt;
        }
    }
}
