@import '../../../../stylesheets/base';
@import '../../../../stylesheets/tabs';
@import '../../../../stylesheets/modal';

.country-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        padding: $spacing-small $spacing-medium-alt;
    }

    .tabs-container {
        flex-grow: 1;

        .tab-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}

.delete-confirm-modal {
    width: 400px;

    :global .modal-header {
        .heading {
            font-size: $font-size-medium-alt;
        }
    }
}
