@import '../../stylesheets/base';

$width-sidebar: 240px;

.country-panel {
    display: flex;
    height: 100%;

    .sidebar {
        @include background-color($color-foreground-alt);
        display: flex;
        position: relative;
        flex-basis: $width-sidebar;
        flex-direction: column;
        flex-shrink: 0;
        margin: -$spacing-small $spacing-small (-$spacing-small) (-$spacing-small);
        border-right: $width-separator-thin solid $color-separator-alt;

        .header {
            @include background-color($color-background-header);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .country-list {
            flex-grow: 1;
            overflow-y: auto;

            .country-list-item {
                border-bottom: 0;
                border-left: 0;
                padding: 0;
            }

            :hover {
                background-color: $color-background-hover;
            }
        }
    }

    .country-detail {
        @extend %main-content;
        @include background-color($color-background-alt);
        flex-grow: 1;
    }

    .country-detail-alt {
        @include background-color($color-foreground);
        @include shadow-medium;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: $spacing-medium-alt;
        font-size: $font-size-extra-large;
    }
}
