@import '../../stylesheets/base';

$width-sidebar: 320px;

.country-panel {
    @extend %main-content;
    display: flex;

    .sidebar {
        display: flex;
        position: relative;
        flex-basis: 16%;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        min-width: $width-sidebar;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-medium;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .country-list {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .country-detail {
        @include shadow-medium;
        flex-grow: 1;
        background-color: $color-foreground;
        height: 100%;
    }

    .country-detail-alt {
        @include background-color($color-foreground);
        @include shadow-medium;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: $spacing-medium-alt;
        font-size: $font-size-extra-large;
    }
}
