@import '../../../../stylesheets/base';

.leads-overview {
    display: flex;
    flex-direction: column;

    h4 {
        flex-shrink: 0;
        padding: $spacing-medium $spacing-small;
        font-weight: $font-weight-medium;
    }

    .leads-table {
        flex-grow: 1;
        overflow-y: auto;

        :global .header {
            position: sticky;
            top: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-small $spacing-medium-alt;
            user-select: none;

            &:not(.actions) {
                cursor: pointer;

                &:hover {
                    background-color: $color-background-hover;
                }
            }
        }
    }
}
