@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

.edit-admin-modal {
    :global .modal-content {
        width: 720px;
    }
}

.admin-levels {
    display: flex;
    flex-direction: column;
    border-top: $width-separator-thin solid $color-separator;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-medium $spacing-large;
        text-transform: uppercase;
        font-size: $font-size-extra-large;
    }

    .admin-levels-list {
        flex-grow: 1;
        overflow: auto;
    }

    :global {
        .edit {
            color: $color-primary;
        }

        .delete {
            color: $color-danger;
            font-size: $font-size-large;
        }

        .raw-table {
            .headers {
                .level {
                    width: 64px;
                }
            }

            .body {
                .row {
                    .cell {
                        padding: $spacing-extra-small $spacing-medium;
                    }
                }
            }
        }
    }
}
