@import '../../../stylesheets/base';

$height-edit-modal: 72vh;

.edit-modal {
    width: $width-modal-medium;
    height: $height-edit-modal;

    .body {
        display: flex;
        flex-direction: column;
        padding: 0;

        .title-input-container {
            background-color: $color-foreground-alt;
            padding: $spacing-medium;
        }
    }

    .scale-units {
        display: flex;
        flex-grow: 1;
        padding: 0;

        .scale-unit {
            flex-basis: 100%;
            overflow-y: auto;
        }

        .sortable-unit {
            border-top: 0;
        }
    }
}

.sortable-unit {
    display: flex;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small 0;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: move;
        padding: 0 $spacing-medium;
    }

    .edit-scale-unit {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        background-color: $color-foreground;
        padding: $spacing-medium 0;

        .title-input {
            flex-grow: 1;
        }

        .delete-button {
            flex-shrink: 0;
        }

        .check-button {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            flex-shrink: 0;
            cursor: pointer;

            .label {
                flex-shrink: 0;
                cursor: pointer;
                text-transform: uppercase;
                color: $color-text-label;
                font-size: $font-size-extra-small;
            }
        }
    }
}

.draggable-item {
    z-index: 11111;
}
