@import '../../../../../stylesheets/base';

%textarea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing-small;
    width: 100%;

    :global .input {
        flex-grow: 1;
        resize: none;
    }
}

.excerpt-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .radio-input {
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small;
    }

    .textarea {
        @extend %textarea;
    }

    .image {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
}

.excerpt-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .textarea {
        @extend %textarea;
    }
}
