@import '../../../../../stylesheets/base';

%textarea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing-small;
    width: 100%;

    :global .input {
        flex-grow: 1;
        resize: none;
    }
}

.excerpt-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .textarea {
        @extend %textarea;
    }

    .image {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.excerpt-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .textarea {
        @extend %textarea;
    }

    .image {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        border: $width-separator-medium dashed $color-label;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
