@import '../../../../../stylesheets/base';

%textarea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing-small;
    width: 100%;

    :global .input {
        flex-grow: 1;
        resize: none;
    }
}

.excerpt-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .drop-here-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: $color-label;
    }

    .textarea {
        @extend %textarea;
    }

    .image {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .format-button {
        @include transition-medium;
        opacity: 0;
        position: absolute;
        bottom: $spacing-medium;
        right: $spacing-medium;
    }

    &:hover {
        .format-button {
            opacity: 1,
        }
    }
}

.excerpt-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .textarea {
        @extend %textarea;
    }

    .image {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        border: $width-separator-medium dashed $color-label;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
