@import '../../../../stylesheets/base';

$height-full-page: calc(100vh - #{$height-navbar} -  2 * #{$spacing-large});

.filters {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing-medium;

    h2 {
        margin: $spacing-large 0;
        font-weight: $font-weight-medium;
    }

    .basic-information,
    .entry-attributes,
    .lead-information, {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-small 0;
    }

    .leads-table {
        flex-grow: 1;
    }
}
