@import '../../../../stylesheets/base';

.connector-details-form {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: $spacing-extra-large;
    height: 100%;

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $spacing-medium;
        }
    }
}
