@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.country-general {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: auto;

    .detail-map-container {
        display: flex;

        .region-detail-form {
            flex-basis: 30%;
            border-right: $width-separator-thin solid $color-hover;
            min-width: 240px;
        }

        .map-container {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
        }
    }

    .admin-levels {
        flex-grow: 1;
    }
}
