@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.country-general {
    display: flex;
    height: 100%;

    .country-general-form {
        flex-basis: 30%;
        border-right: $width-separator-thin solid $color-hover;
        padding: $spacing-large;
        min-width: 240px;
        height: 100%;
        overflow: auto;
    }

    .map-details {
        flex-grow: 1;

        .map-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border: $width-separator-thin solid $color-separator;
            height: 50%;
        }

        .admin-levels {
            height: 50%;
        }
    }
}
