@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.country-general {
    height: 100%;

    .form-map-container {
        display: flex;
        justify-content: space-between;
        height: 60%;

        .country-general-form {
            flex-basis: 36%;
            padding: $spacing-large;
            height: 100%;
            overflow: auto;
        }

        .map-container {
            display: flex;
            flex-basis: 64%;
            align-items: center;
            justify-content: center;
            border: $width-separator-thin solid $color-separator;
        }
    }

    .edit-admin-modal {
        :global .modal-content {
            width: 720px;
        }
    }

    .admin-levels {
        border-top: $width-separator-thin solid $color-separator;
        height: 40%;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-medium $spacing-large;
            width: 100%;
            height: $height-header;
            text-transform: uppercase;
            font-size: 1.6em;
        }

        .admin-levels-list {
            height: calc(100% - #{$height-header});
            overflow: auto;
            font-size: 1.2em;
        }

        :global .edit {
            color: $color-primary;
        }

        :global .delete {
            color: $color-danger;
            font-size: $font-size-large;
        }
    }
}
