@import '../../../../../stylesheets/base';

.multiselect-list {
    display: flex;
    justify-content: center;
    padding: $spacing-small;
    height: 100%;

    .multiselect {
        width: 100%;
    }
}
