@import '../../../stylesheets/base';

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .region-name {
        flex-shrink: 0;
        background-color: $color-background-row-alt;
        padding: $spacing-small;

        &:nth-child(odd) {
            background-color: $color-background-row;
        }
    }

    :global .empty {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
}
