@import '../../../stylesheets/base';

.navbar {
    @include shadow-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    padding: 0 $spacing-large;
    height: $height-navbar;
    color: $color-text-on-primary;

    .dropdown-title {
        align-self: stretch;
    }

    .menu-header {
        display: inline-flex;
        flex-basis: 10%;
        color: $color-text-on-primary;
        font-size: $font-size-super-large;

        img {
            align-self: flex-start;
            margin-right: $spacing-medium;
            width: 36px;
            height: 36px;
        }


    }

    .project-select-container {
        flex-basis: 20%;
        margin-left: $spacing-large;
        background-color: transparent;
        font-size: $font-size-small;

        .project-select-input {
            color: $color-text;

            input::-webkit-input-placeholder {
                color: $color-label;
            }
        }

    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all ease-in-out;
        border-top: $width-separator-thick solid transparent;
        border-bottom: $width-separator-thick solid transparent;
        padding: 0 $spacing-extra-large;

        &:hover {
            color: $color-accent;
        }

        &.active {
            border-bottom-color: $color-accent;
            background-color: lighten($color-primary, 10%);
            color: $color-text-on-primary;
        }
    }

    .menu-items {
        display: flex;
        flex-basis: 60%;
        align-items: stretch;
        justify-content: center;
        height: 100%;
    }
}

.dropdown-item {
    display: flex;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-medium-alt $spacing-large;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-light;

    .icon {
        display: inline-block;
        flex-basis: $width-icon-extra-large;
        flex-shrink: 0;
    }

    .label {
        flex-basis: calc(100% - #{$width-icon-extra-large});
        color: $color-text;
    }

    &:hover {
        background-color: $color-background-header;
    }
}
