@import '../../../stylesheets/base';

.navbar {
    @include shadow-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-navbar;
    padding: 0 $spacing-medium-alt;
    height: $height-navbar;
    color: $color-text-on-navbar;

    .dropdown-title {
        align-self: stretch;
    }

    .brand {
        display: flex;
        align-items: center;
        align-self: stretch;
        color: $color-text-on-navbar;
        font-size: $font-size-super-large;

        .icon {
            margin-right: $spacing-small;
            width: 24px;
            height: 24px;
        }

        .title {
            text-transform: uppercase;
            font-size: $font-size-extra-large;
        }
    }

    .project-select-input {
        flex-basis: 240px;
        flex-shrink: 0;
        margin: 0 5%;
        color: $color-text;

        input::placeholder {
            color: $color-label;
        }
    }

    .menu-items {
        display: flex;
        flex-grow: 1;
        align-self: stretch;
        justify-content: flex-start;
        overflow-x: auto;

        .menu-item {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            transition: .2s all ease-in-out;
            border-top: $width-separator-thick solid transparent;
            border-bottom: $width-separator-thick solid transparent;
            padding: 0 $spacing-large;

            &:hover {
                color: $color-accent;
            }

            &.active {
                border-bottom-color: $color-accent;
                color: $color-text-on-navbar;
            }
        }

        .overflow-menu {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .overflow-button {
                outline: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                padding: $spacing-small $spacing-medium;
                font-family: inherit;
                font-size: inherit;

                &:hover {
                    background-color: $color-hover;
                }
            }

            .overflow-items {
                display: none;
            }
        }
    }

    .dropdown-menu {
        width: auto;
    }
}

.dropdown-item {
    display: flex;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-medium-alt $spacing-large;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;

    .icon {
        display: inline-block;
        flex-basis: $width-icon-extra-large;
        flex-shrink: 0;
    }

    .label {
        flex-basis: calc(100% - #{$width-icon-extra-large});
        color: $color-text;
    }

    &:hover {
        background-color: $color-background-header;
    }
}
