@import '../../../stylesheets/base';
@import '../../../stylesheets/tabs';

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .header {
        @include background-color($color-background-header);
        flex-shrink: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .forbidden-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 100%;
        color: $color-text-label;
        font-size: $font-size-extra-large;
    }
}
