@import '../../../../stylesheets/base';

$width-af-list: 240px;

.project-analysis-framework {
    display: flex;
    flex-grow: 1;

    .af-list {
        display: flex;
        flex-basis: $width-af-list;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator-alt;

        .header {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: center;
            padding: $spacing-small;

            .heading {
                flex-grow: 1;
            }

            .add-af-button {
                flex-shrink: 0;
            }

            .search-af-input {
                flex-basis: 100%;
            }
        }

        .content {
            flex-grow: 1;
            overflow-y: auto;

            .af-list-item {
                display: flex;
                justify-content: space-between;

                .check {
                    color: $color-success;
                }
            }
        }
    }

    .details-container {
        flex-grow: 1;
    }

    .empty {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
}
