@import '../../../../../../stylesheets/base';

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .filter {
        margin: $spacing-small;
    }

    .filter-btn {
        margin: $spacing-small;
    }
}
