@import '../../../../stylesheets/base';

.gallery-file-name {
    color: $color-accent;
}

.pending-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .label {
        margin-right: $spacing-small;
    }

    .loading-animation {
        display: inline-block;
        animation: spin 1s linear infinite;
    }

    &.file-name {
        display: inline;
    }
}

.show-404 {
    display: flex;
    align-items: center;
    justify-content: center;

    .label {
        margin-right: $spacing-small;
        text-align: center;
    }

    &.file-name {
        display: inline;
    }
}
