@import '../../../../../../stylesheets/base';

.lead-column-header {
    &.sortable {
        cursor: pointer;

        .icon {
            margin-right: $spacing-small;
        }

        &.active {
            color: $color-accent;
        }
    }
}
