@import '../../../stylesheets/base';

.list {
    width: 100%;
    height: 100%;
    overflow: auto;

    .tag-unit {
        display: flex;
        background-color: $color-background-row;
        padding: $spacing-small;

        &:nth-child(even) {
            background-color: $color-background-row-alt;
        }

        .tag-dimension {
            flex-basis: 50%;
            align-self: center;

            .dimension-title {
                color: $color-accent;
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
            }

            .subdimension-title {
                font-size: $font-size-medium;
            }
        }

        .tag-sector {
            flex-basis: 50%;

            .title {
                font-weight: $font-weight-bold;
            }

            .tag-sub-sector {
                .sub-sector {
                    display: flex;

                    .marker {
                        flex-shrink: 0;
                        align-self: flex-start;
                        padding-right: $spacing-extra-small-alt;
                        color: $color-label;
                    }

                    .label {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}
