@import '../../../stylesheets/base';

.four-hundred-four {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    line-height: 2;

    .deep-logo {
        margin-bottom: $spacing-large;
        width: 256px;
        height: 256px;

        path {
            fill: $color-text-on-primary;
        }
    }

    .heading {
        color: $color-danger;
        font-size: $font-size-super-large-alt;
        font-weight: $font-weight-bold;
    }

    .message {
        margin: $spacing-large 0;
        text-align: center;
        color: $color-text-on-primary;
        font-size: $font-size-large-alt;
    }

    .home-screen-link {
        color: $color-accent;
        font-size: $font-size-large;
    }
}
