@import '../../stylesheets/base';
@import '../../stylesheets/modal';
@import '../../stylesheets/tabs';

.category-editor {
    @extend %main-content;
    display: flex;
    position: relative;

    .left {
        display: flex;
        flex-basis: 24%;
        flex-direction: column;
        background-color: $color-foreground;
        width: 24%;

        .document-panel {
            flex-grow: 1;
        }
    }

    .right {
        display: flex;
        flex-basis: 76%;
        flex-direction: column;
        background-color: $color-foreground-alt;
        width: 76%;

        >.header {
            display: flex;
            flex-wrap: wrap;
            border-bottom: $width-separator-medium solid $color-separator;
            padding: $spacing-medium;

            .header-content {
                display: flex;
                flex-basis: 100%;

                h2 {
                    flex-grow: 1;
                    font-weight: $font-weight-medium;
                }

                button {
                    flex-shrink: 0;
                }

                .link-to-pp {
                    @extend %button-like-link;
                    margin-left: $spacing-medium;
                    background-color: $color-primary;
                    color: $color-foreground-alt;
                }
            }

            .action-buttons {
                display: flex;
                align-items: flex-end;
                flex-basis: 100%;
                justify-content: flex-start;

                .category-select {
                    flex-basis: 23%;
                    margin-right: $spacing-medium;

                    input {
                        text-transform: uppercase;
                    }
                }

                .add-category-btn {
                    margin-right: $spacing-medium;

                    i {
                        margin-right: 0;
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-grow: 1;

            .sub-categories {
                display: flex;
                flex-basis: 70%;
                background-color: $color-background-alt;
                overflow-x: auto;

                .column {
                    flex-shrink: 0;
                }
            }
        }

        .empty {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            color: $color-text-disabled;
        }
    }
}
