@import '../../../../stylesheets/base';

.key-figures {
    position: relative;
    padding: 0 $spacing-medium-alt;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        justify-content: space-between;
        padding: $spacing-small 0;

        .action-buttons {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;

            button {
                margin-left: $spacing-small;
            }
        }
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        padding: $spacing-medium 0 0;

        h3 {
            flex-basis: 100%;
        }

        .text-input {
            margin: $spacing-small;
            background-color: transparent;
            padding: 0;
            width: auto;

            input {
                background-color: transparent;
            }
        }

        &:not(:last-child) {
            border-bottom: $width-separator-thin solid $color-separator;
        }
    }

    .icon {
        margin-left: $spacing-large;
        font-size: $font-size-extra-large;
    }
}
