@import '../../../stylesheets/base';
@import '../../../stylesheets/matrix-2d-overview-table';

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $color-text-disabled;
}

.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table {
        @extend %matrix-2d-overview-table;
    }
}

%button-basic {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

$width-overview-edit-modal: 900px;
$height-overview-edit-modal: 80vh;

.overview-edit-modal {
    width: $width-overview-edit-modal;
    height: $height-overview-edit-modal;

    .body {
        display: flex;
        flex-direction: column;
        padding: 0;

        >.header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                flex-grow: 1;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium;
            }

            .dimension-type-list {
                flex-shrink: 0;
                align-self: flex-end;

                .tab {
                    @extend %button-basic;
                    border-bottom: $width-separator-medium solid $color-separator;
                    padding: $spacing-medium;
                    text-transform: uppercase;

                    &.active {
                        border-bottom-color: $color-accent;
                        color: $color-accent;
                    }
                }
            }

            .right {
                display: flex;
                flex-grow: 1;
                align-self: flex-end;
                justify-content: flex-end;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium;
            }
        }

        >.content {
            display: flex;
            flex-grow: 1;
            background-color: $color-background-alt;

            .dimension-list {
                flex-basis: 30%;
                border-right: $width-separator-thin solid $color-separator;
                overflow-y: auto;


            }

            .dimension-detail {
                display: flex;
                flex-basis: 70%;
                flex-direction: column;

                .dimension-inputs {
                    display: flex;
                    flex-shrink: 0;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-medium 0;

                    .inputs {
                        display: flex;
                        flex-grow: 1;
                        padding: 0 $spacing-medium;

                        .text-input {
                            flex-grow: 1;
                        }

                        .color-input {
                            flex-shrink: 0;
                        }

                        >* {
                            &:not(:first-child) {
                                margin-left: $spacing-medium;
                            }
                        }
                    }

                    .actions {
                        flex-shrink: 0;
                        padding: 0 $spacing-medium;
                    }
                }

                .subdimension-detail {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    .header {
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: $width-separator-thin solid $color-separator;
                        background-color: $color-background-header;
                        padding: $spacing-small $spacing-medium;
                    }

                    .content {
                        flex-grow: 1;
                        overflow-y: auto;

                    }
                }
            }

            .empty {
                display: flex;
                flex-basis: 80%;
                align-items: center;
                justify-content: center;
                color: $color-label;
            }
        }
    }
}

.sub-dimensions {
    background-color: $color-background-row;

    &:nth-child(odd) {
        background-color: $color-background-row-alt;
    }
}

.dimension-list-item {
    align-items: stretch;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-background-row;

    &:nth-child(odd) {
        background-color: $color-background-row-alt;
    }

    .dimension-tab {
        @extend %button-basic;
        display: block;
        padding: $spacing-small-alt $spacing-medium;
        width: 100%;
        text-align: left;

        &.active {
            background-color: $color-accent;
            color: $color-text-on-primary;
        }
    }

    .drag-handle {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 $spacing-medium-alt;

        &.active {
            background-color: $color-accent;
            color: $color-text-on-primary;
        }
    }
}

.sub-dimension-inputs {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: $spacing-medium 0;

    .inputs {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 $spacing-medium;

        >* {
            flex-basis: calc(calc(100% - #{$spacing-medium}) / 2);
        }
    }

    .actions {
        flex-shrink: 0;
        align-self: flex-end;
        padding: 0 $spacing-medium;
    }
}

