@import '../../../../stylesheets/base';

.leads {
    display: flex;
    flex-direction: column;
    padding: $spacing-medium-alt;
    height: calc(100vh - #{$height-navbar});

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-small;

        .add-lead-button {
            flex-shrink: 0;
            align-self: flex-end;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
            font-size: $font-size-large;
        }

        .filters {
            flex-grow: 1;
            align-items: flex-end;
        }
    }

    .table-container {
        position: relative;
        flex-grow: 1;
        background-color: $color-foreground;
        overflow-y: auto;

        .leads-table {
            :global .header {
                position: sticky;
                top: 0;
                border-bottom: $width-separator-medium solid $color-separator;
                padding: $spacing-medium $spacing-medium-alt;
                text-align: left;
                user-select: none;

                &:not(.actions) {
                    cursor: pointer;

                    &:hover {
                        background-color: $color-background-hover;
                    }
                }
            }

            :global .title {
                width: 20%;
            }
        }
    }

    .viz-container {
        flex-grow: 1;
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium-alt;

        .pager {
            display: flex;
            justify-content: center;
        }

        .view-mode-button {
            display: flex;
            height: 32px;
            text-transform: uppercase;
        }
    }
}

:global .actions {
    $width-action-button: 32px;

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 0;
        width: $width-action-button;
        height: $width-action-button;

        &:hover {
            background-color: $color-background-hover;
        }

        &:active {
            transform: none;
        }
    }
}
