@import '../../../../stylesheets/base';

.leads {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        background-color: $color-foreground;
        padding: $spacing-small;

        .add-lead-button {
            flex-shrink: 0;
            align-self: flex-end;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
            font-size: $font-size-large;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }

                .button {
                    flex-shrink: 0;
                    align-self: flex-end;
                    margin: $spacing-small;
                }
            }
        }
    }

    .table-container {
        position: relative;
        flex-grow: 1;
        background-color: $color-background-row-alt;
        overflow-y: auto;

        .leads-table {
            :global {
                .header {
                    position: sticky;
                    top: 0;
                }

                .icon-wrapper {
                    padding-left: $spacing-medium-alt;
                    font-size: $font-size-large;

                    a {
                        color: $color-accent;
                    }
                }

                .title {
                    width: 20%;
                }
            }
        }
    }

    .viz-container {
        flex-grow: 1;
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium-alt;

        .pager {
            display: flex;
            justify-content: center;
        }

        .view-mode-button {
            display: flex;
            height: 32px;
            text-transform: uppercase;
        }
    }
}
