@import '../../../../../stylesheets/base';
@import '../tabular-input-base';

.cross-sector {
    @extend %tabular-input-base;

    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-text-disabled;
    }
}
