.filters {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: $color-background-row;

    .heading {
        padding: $spacing-small;
        background-color: $color-background-header;
        border-bottom: $width-separator-thin solid $color-separator;
    }

    :global {
        .entries-filters {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: flex-end;
            border-bottom: $width-separator-thin solid $color-separator;
            background-color: $color-foreground;
            padding: $spacing-small;

            .entries-filter,
            .select-input {
                margin: $spacing-small;

                &.flat-select-input {
                    margin: 0;
                }
            }

            .range-filter {
                display: flex;
                justify-content: space-between;
                margin: 0;

                .single-select-input {
                    margin: $spacing-small;
                }
            }

            >.button {
                flex-shrink: 0;
                margin: $spacing-small;
            }
        }
    }

    .lead-filters {
        display: flex;
        flex-direction: column;

        .lead-attributes {
            :global {
                .leads-filters {
                    display: flex;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    // border-bottom: $width-separator-thin solid $color-separator;
                    background-color: $color-foreground;
                    padding: $spacing-small;


                    .leads-filter {
                        margin: $spacing-small;
                    }

                    .button {
                        flex-shrink: 0;
                        align-self: flex-end;
                        margin: $spacing-small;
                    }
                }
            }
        }

        .leads {
            position: relative;
            flex-grow: 1;
            overflow-y: auto;

            .leads-table {
                :global {
                    .select {
                        width: 64px;
                    }
                }
            }

        }
    }
}
