@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';


.add-gallery-file-modal {
    display: flex;

    :global {
        .modal-content {
            position: relative;
            width: 960px;
            min-width: 50vw;
        }
    }

    .search-input {
        width: 240px;
    }

    .modal-body {
        position: relative;
        padding: 0;
        height: 72vh;
    }

    .gallery-table {
        :global .header {
            border-bottom: $width-separator-medium solid $color-separator;
            user-select: none;
        }
    }

    .add-button {
        min-width: 72px;
    }
}

