@import '../../../../../stylesheets/base';

.apply-input {
    position: relative;

    .apply-buttons {
        @include transition-medium;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;

        .apply-button {
            margin-right: $spacing-extra-small;
            padding: $spacing-extra-small;
        }
    }

    &:hover {
        .apply-buttons {
            opacity: 1;
        }
    }
}
