@import '../../../stylesheets/base';

$color-text-on-navbar: get-text-color($color-navbar);
$color-text-on-primary: get-text-color($color-primary);

.nav-menu {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;

    .menu-item {
        @include transition-medium;
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        border-top: $width-separator-thick solid transparent;
        border-bottom: $width-separator-thick solid transparent;
        padding: 0 $spacing-medium-alt;
        font-weight: $font-weight-bold;

        &:hover {
            color: $color-accent;
        }

        &.active {
            border-bottom-color: $color-accent;
            color: $color-accent;
            // color: $color-text-on-navbar;
        }
    }

    .overflow-menu {
        display: none;
        flex-shrink: 0;

        >button {
            padding: $spacing-small;
        }
    }
}

.overflow-menu-item {
    display: block;
    padding: $spacing-medium $spacing-medium-alt;

    &:hover {
        background-color: $color-background-hover;
    }

    &.active {
        @include background-color($color-accent);
    }
}

.navbar-overflow-dropdown {
    min-width: 156px;
}
