@import '../../../../../stylesheets/base';

$af-detail-form-width: 480px;
$height-header: 39px;

.analysis-framework-detail {
    height: 100%;

    .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: 0 $spacing-small;
        height: $height-header;

        .action-buttons {
            button {
                margin-left: $spacing-small;
            }

            .edit-framework-link {
                @include button-like-link($color-warning);
                margin-left: $spacing-small;
            }
        }
    }

    .af-detail-form {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: $spacing-medium;
        width: $af-detail-form-width;
        height: calc(100% - #{$height-header});

        .action-buttons {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;

            button {
                margin-left: $spacing-large;
            }
        }

        .name,
        .description {
            width: 100%;
        }

        .description {
            :global .input {
                resize: none;
            }
        }
    }
}
