@import '../../stylesheets/base';

.images-slider {
    display: flex;
    position: relative;
    flex-direction: column;

    .image {
        display: none;
        flex-direction: column;
        flex-grow: 1;

        img {
            flex-grow: 1;
            height: auto;
            overflow: hidden;
        }

        &.visible {
            display: flex;
        }
    }

    .action-bar {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: $color-background-overlay;
    }
}
