@import '../../../../stylesheets/base';

$width-region-list: 240px;

.project-regions {
    display: flex;
    flex-grow: 1;

    .region-list {
        display: flex;
        flex-basis: $width-region-list;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator-alt;

        >.header {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: center;
            padding: $spacing-small;

            .heading {
                flex-grow: 1;
            }

            .add-region-button {
                flex-shrink: 0;
            }

            .region-search-input {
                flex-basis: 100%;
            }
        }

        .content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .region-details-container {
        flex-basis: calc(100% - #{$width-region-list});
    }

    .no-regions {
        flex-basis: calc(100% - #{$width-region-list});
    }
}

.add-region-modal {
    .body {
        display: flex;
        flex-direction: column;

        .radio-input {
            flex-shrink: 0;
        }

        .add-region {
            flex-grow: 1;
        }

        .add-existing-region {
            flex-grow: 1;
        }
    }


    &.existing-region {
        height: 60vh;
    }
}

