@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

.project-regions {
    display: flex;
    flex-grow: 1;

    .list-container {
        @include shadow-small;
        display: flex;
        flex-basis: 16%;
        flex-direction: column;
        min-width: 320px;

        .list-header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-large;

            .search-input {
                flex-grow: 1;
                padding: 0 $spacing-medium-alt 0 0;

                :global .error {
                    display: none;
                }
            }

            .add-btn {
                flex-shrink: 0;
            }
        }

        .list {
            flex-grow: 1;
            overflow-y: auto;

            :global .list-item {
                @include transition-medium;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;
                padding: 0;

                .button {
                    display: block;
                    outline: 0;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    padding: $spacing-medium $spacing-large;
                    width: 100%;
                    text-align: left;
                    font-family: inherit;
                    font-size: inherit;
                }

                &.active {
                    border-left: $width-separator-thick solid $color-accent;
                    background-color: $color-background-selected;
                }

                &:hover {
                    background-color: $color-background-hover;
                }
            }
        }
    }

    .details-container {
        flex-grow: 1;
    }

    .no-regions {
        @extend %empty-text;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: $font-size-super-large;
    }
}

.add-region-modal {
    display: flex;
    flex-direction: column;

    .radio-input {
        flex-shrink: 0;
    }

    .add-region {
        flex-grow: 1;
    }

    .add-existing-region {
        flex-grow: 1;
    }

    &.existing-region {
        height: 60vh;
    }
}

